<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About CarpentryCon 2018</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What is CarpentryCon?</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">CarpentryCon is the key community-building and networking event in our annual calendar of activities.</p>

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>When and where will it be held?</h4>
                                    <!-- <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">CarpentryCon will be held from 30 May–1 June, 2018, at University College, Dublin, Ireland. 
                                                                    </div>
                            </div>
                        </li>

                            
                    
                    
                                            <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Who is organising it?</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Software and Data Carpentry are jointly organizing this event. They are non-profit organizations who teach foundational computational and data science skills to researchers.</p>
                                </div>
                            </div>
                        </li>
                    
                      <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br>Us!
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                 <p class="text-muted">Registrations will open soon!</p>

                            </div>
                        </li>
                    
                         
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
