<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What are the Carpentries?</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Software and Data Carpentry are sibling organizations who share a mission to
                                        teach foundational computational and data science skills to researchers.</p>

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What is a Carpentries Workshop?</h4>
                                    <!-- <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A Software or Data Carpentry workshop generally comprises two full days. 
                                        The instructor live codes and learners follow along. Workshops can be any size.
                                    Workshops are run by a team. Ideally this will consist of a host (who is the principal local 
                                        contact for the workshop), certified instructors (who present the material and 
                                        lead the practical exercises), a lead instructor (who ensures the teaching aspects 
                                        of the workshop go smoothly), and helpers (who provide assistance during practical sessions). 
                                                                    </div>
                            </div>
                        </li>

                            
                    
                    
                                            <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>How are Software and Data Carpentry Managed?</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Software and Data Carpentry are non-profit organizations, each 
                                        governed by a Steering Committee. From January 2018, Software and Data Carpentry will be a merged organization.</p>
                                </div>
                            </div>
                        </li>
                    
                      <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br>Us!
                                    </h4>
                                </div>
                                <div class="timeline-body">
                                 <p class="text-muted">We welcome <a href="https://software-carpentry.org/join/">new members and supporters.</a></p>
                                 <p class="text-muted">We have many ways to engage, including:</p>
                                 <p class="text-muted">Twitter, slack, our newsletter, our email lists, community calls, meetups.</p>
                            </div>
                        </li>
                    
                         
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
