<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What are the Carpentries?</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Software and Data Carpentry are sibling organizations who 
                                        teach foundational computational and data science skills to researchers.</p>

                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>What is a Workshop?</h4>
                                    <!-- <h4 class="subheading">An Agency is Born</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A Software or Data Carpentry workshop comprises two full days. 
                                        The instructor live codes and learners follow along. Workshops can be any size.</p>
                                    <p class="text-muted">Workshops are run by a team. Ideally this will consist of:</p>
                                    <ul class="text-muted"><li>A host (who is the principal local contact for the workshop)</li>
                                    <li>Certified instructors (who present the material and lead the practical exercises)</li>
                                    <li>A lead instructor (who is in charge of deciding what will be taught by whom and ensuring the teaching aspects of the workshop go smoothly)</li>
                                    <li>Helpers (who provide assistance during practical sessions). </li></ul>
                                                                    </div>
                            </div>
                        </li>

                        <li>
                         
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>How are Software and Data Carpentry Workshops Managed?</h4>
                                    <!-- <h4 class="subheading">Our Humble Beginnings</h4> -->
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Software and Data Carpentry are taught by volunteers. 
</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br>Us!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
