<!-- Begin Accessibility Statement for CarpentryCon2022 -->

<section id="accessibility">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="text-left">

                <p>
                <a href="https://carpentries.org/blog/2022/01/executive-director-new-years-message/">One of The Carpentries strategic focus areas for improving equity and inclusion across our organisational processes and communities is Accessibility & Inclusion</a>. There are observed and perceived gaps in accessibility of user experience in our workshops and instructor training, and across our community resources. These are gaps we are working to address as an organisation and as a community. 
                </p>
                <p>
                We continue to strive to host inclusive, accessible events that enable all individuals, including individuals with disabilities, to participate and engage fully. This requires providing services to our community such as
                </p>

                <ul class="list_bigger_font">
                    <li>Live closed captioning</li>
                    <li>Remote simultaneous interpretation</li> 
                    <li>Adding language subtitles to video recordings</li>
                    <li>Childcare services</li>
                    <li>Caregiver services</li>
                    <li>Translation of written text</li>
                    <li>Mobile data</li>
                </ul>

                <p>
                For CarpentryCon, we are excited to announce that funding is available through the Alfred P. Sloan Foundation, the Gordon and Betty Moore Foundation, and our new <a href="https://fnd.us/3205pd?ref=sh_fAVdid">Accessibility Fund</a> for conference attendees who require access to specific services to fully attend the event. Requests for accommodations can be made on the [conference registration form](https://carpentrycon2022.eventbrite.com/) or by contacting <a href="mailto:brynn@carpentries.org">Brynn Elliott</a>. Please note that accommodation requests need to be made by 22 July 2022 to be given full consideration. 
                </p>
                <p>
                To increase access, all CarpentryCon sessions will be captioned in English. It is important to note on the registration form if you prefer another language. The four keynote sessions will be interpreted in American Sign Language. Individuals who prefer other signed languages or other sessions interpreted should note this on the registration form.  
                </p>
                <p>
                If you are requesting childcare services, caregiver services, need access to mobile data, or have other funding requests to participate in the event, you will be asked to submit receipt documentation to The Carpentries to reimburse your expenses. When you register, please indicate which service or services you are requesting with an estimate for the cost of those services. Detailed instructions will be sent to you with the paperwork required. Reimbursement will take approximately two to three weeks once the paperwork has been submitted. We acknowledge that waiting for a reimbursement still creates barriers for participation, and we will continue to work with our fiscal sponsor on ways to provide support before, and not after, services have been rendered.  
                </p>
                <p>
                All requests for support will be reviewed and funds will be distributed dependent on the number of requests and availability of funds, but our goal is to meet all accessibility requests. For any additional inquiries about accessibility, please contact Brynn Elliott, The Carpentries Accessibility Manager, <a href="mailto:brynn@carpentries.org">brynn@carpentries.org</a>.  
                </p>

            </div>
        </div>
    </div>
</section>
<!-- end accessibility section -->