<section id="accessibility">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="text-left">
                <p class="post-body text-left" style="color: {{ font_colour }}">
                    CarpentryCon 2020 will be held at the <a href="https://datascience.wisc.edu/">UW-Madison’s Data
                    Science
                    Hub</a> based in the <a target="_blank" href="{{ site.eventLocationLink }}">Discovery Building</a>.

                    Participant will also have access to the Memorial Union Building on the shore of Lake Mendota,
                    to socialize, relax, and dine.

                    More information about Madison, weather, venue, visas and how to get there is available on the
                    <a href="/venue.html">venue & travel</a> page.
                </p>
                <p class="post-body text-justify">
                    All conference spaces in the Discovery Building are handicap accessible. There is one gender neutral
                    restroom on the main floor of the building. A lactation room is available for nursing mothers; if
                    you plan to use the lactation room please let us know in advance so we can schedule it. Kitchen
                    space (including refrigerator and microwave) is available for both nursing mothers and anyone who
                    has specific dietary needs and would like to bring their own food. We have reserved several smaller
                    meeting spaces on the main floor to serve as a quiet room, prayer room, and green room for keynote
                    speakers.
                </p>
                <p class="post-body text-justify">
                    All presenters will be mic’d. We are planning to have both ASL interpretation and live captioning
                    for some portion of the conference; the extent of these services is still being determined. Please
                    <a href="mailto:sheraaron@carpentries.org">contact us</a> if you have specific concerns or needs
                    about this.
                </p>
                <p class="post-body text-justify">
                    We are planning to provide a limited amount of free childcare. Please
                    <a href="mailto:sheraaron@carpentries.org">contact us</a> if you need childcare in order to attend
                    the conference or if it would
                    make it much easier for you to do so.
                </p>
                <p class="post-body text-justify">
                    There is a drop off point immediately outside the Discovery Building for cars. If taking public
                    transit, there is a bus stop immediately across the street from the building if coming from
                    Downtown/heading west and a stop one block away if coming towards Downtown/heading east. The nearest
                    parking lots are <a href="https://map.wisc.edu/s/9fl5qm2j" target="_blank">Lot 20</a> or
                    <a href="https://map.wisc.edu/s/5t90kti9" target="_blank">the Union South Garage (Lot 80)</a>. Both
                    lots have disabled parking spaces
                    that can be used by anyone with a disabled tag or license plate. See <a
                        href="https://transportation.wisc.edu/accessible-transportation-options/#parking"
                        target="_blank">
                    UW Madison’s Accessible Parking</a> page and <a
                        href="https://deh3q06fonbca.cloudfront.net/wp-content/uploads/sites/28/2017/12/Accessible-Map.pdf"
                        target="_blank">parking map</a> for more details.
                <p class="post-body text-justify">
                    The conference dinner venue is handicap accessible; however, as the Memorial Union is an older
                    building, it can still be tricky to navigate. One of the conference hosts has been to the Union and
                    the conference dinner location on a wheeled mobility device and would be happy to personally escort
                    anyone needing assistance.
                </p>
                <p class="post-body text-justify">
                    As with all Carpentries events, all participants are expected to abide by the <a
                        href="https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html" target="_blank">Carpentries
                    Code of Conduct</a>. There will be clearly identifiable members of the Code of Conduct committee at
                    the
                    conference, available for reporting and support. </p>


            </div>
        </div>
    </div>
</section>
<!-- End Venue Section -->
