<section id="accommodation">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
            {% if page.title != site.accommodationBlockTitle %}
            <h3>{{ site.accommodationBlockTitle }}</h3>
            {% endif %}
            <p class="post-body">
                We have reserved room blocks with several accommodation providers, shown on the map below.
            </p>
            <div class="row">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1FBVN_9iieOR2aAHLvyoULka6ySYUm-TS" width="100%" height="480"></iframe>            </div>
            <h5>Chadbourne Residence Hall (University Housing (Dorm) Accommodation)</h5>
            <p class="post-body">
            <ul class="list_bigger_font">
                <li>
                    Location: 420 N Park St, less than half a mile from the conference venue
                </li>
                <li>
                    Cost: double occupancy - $50.90 per person/per night; single occupancy - $75.65 per person/per night
                </li>
                <li>
                    Breakfast included
                </li>
                <li>
                    Parking not included
                </li>
                <li>
                    Contact/Reservation information: TBA
                </li>
            </ul>
            </p>
            <h5>Union South Hotel</h5>
            <p class="post-body">
            <ul class="list_bigger_font">
                <li>
                    Location: 1308 W Dayton St, across the street from the conference venue
                </li>
                <li>
                    Cost: $160 per night
                </li>
                <li>
                    Breakfast not included
                </li>
                <li>
                    Parking included
                </li>
                <li>
                    Contact/Reservation information:
                    <ul class="list_bigger_font">
                        <li>Book by May 30th to get the conference rate</li>
                        <li><a href="https://union.wisc.edu/hotel" target="_blank">Booking online</a> (code: CARPENTRY2020)</li>
                        <li>Booking by phone: 1-608-263-2600 (mention "CarpentryCon 2020")</li>
                    </ul>
                </li>
            </ul>
            </p>
            <h5>DoubleTree by Hilton Hotel Madison</h5>
            <p class="post-body">
            <ul class="list_bigger_font">
                <li>
                    Location: 525 W Johnson St, about ¾ mile from the conference venue
                </li>
                <li>
                    Cost: $159 per night
                </li>
                <li>
                    Breakfast not included
                </li>
                <li>
                    Parking included
                </li>
                <li>
                    Contact/Reservation information:
                    <ul class="list_bigger_font">
                        <li>Book by June 1st to get the conference rate</li>
                        <li><a href="https://doubletree.hilton.com/en/dt/groups/personalized/M/MSNDTDT-CC7-20200628/index.jhtml?WT.mc_id=POG" target="_blank">Booking online</a> (code: CC7)</li>
                        <li>Booking by phone: 1-608-251-5511 (mention "CarpentryCon 2020")</li>
                    </ul>
                </li>
            </ul>
            </p>
            <h5>Hampton Inn & Suites Madison/Downtown</h5>
            <p class="post-body">
            <ul class="list_bigger_font">
                <li>
                    Location: 440 W Johnson St, about ¾ mile from the conference venue
                </li>
                <li>
                    Cost: $159 per night
                </li>
                <li>
                    Breakfast included
                </li>
                <li>
                    Parking $15 per night
                </li>
                <li>
                    Contact/Reservation information:
                    <ul class="list_bigger_font">
                        <li>Book by May 29th to get the conference rate</li>
                        <li><a href="https://secure3.hilton.com/en_US/hp/reservation/book.htm?inputModule=HOTEL&ctyhocn=MSNBJHX&spec_plan=CHHCCO&arrival=20200628&departure=20200702&cid=OM,WW,HILTONLINK,EN,DirectLink&fromId=HILTONLINKDIRECT" target="_blank">Booking online</a></li>
                        <li>Booking by phone: 1-608-255-0360 (mention "CarpentryCon 2020")</li>
                    </ul>
                </li>
            </ul>
            </p>
            <h5>Best Western Inntowner</h5>
            <p class="post-body">
            <ul class="list_bigger_font">
                <li>
                    2424 University Ave, about 1 mile from the conference venue
                </li>
                <li>
                    Cost: $170 per night
                </li>
                <li>
                    Breakfast included
                </li>
                <li>
                    Parking included (one space per room)
                </li>
                <li>
                    Contact/Reservation information: TBA
<!--                    <ul class="list_bigger_font">-->
<!--                        <li>Book by May 21st to get the conference rate</li>-->
<!--                        <li>Booking online: TBA</li>-->
<!--                        <li>Booking by phone: TBA</li>-->
<!--                    </ul>-->
                </li>
            </ul>
            </p>
        </div>
    </div>
</section>