<section id="accom" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 class="section-heading">Accommodation Options for CarpentryCon 2018</h2>
        <!-- <style>
        table, th, td {
          border: 1px;
          table {
            border-spacing: 5px;
          }
        }
        th, td {
          padding: 10px;
        }
        </style> -->
	 <p class="text-muted">
          University College Dublin (UCD) has a special offer for CarpentryCon 2018 participants on campus. There are a limited number of single ensuite rooms available for €69 per night for the period of the event.
        </p>

        <p class="text-muted">
          Additionally, we are providing three hotel options for you. All hotels are offering us a special CarpentryCon rate. See the <a href="http://www.carpentrycon.org/#map">UCD map</a> to help you choose.
        </p>
        <p class="text-muted">
          The special rates will be valid for the period of the event and available until the specified cut-off dates; anyone looking to book after that date will be offered the best available rate at the time.
        </p>


          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Accomodation</th>
                  <th>Map</th>
                  <th>Booking info</th>
                  <th>Reservation code</th>
                  <th>Cutoff date for booking</th>
		  <th>Price Per Night</th>	
                  <th>Availability</th>
                </tr>
              </thead>
              <tbody>
		      
		<tr>
                  <td><a href="http://www.ucd.ie/summeratucd/accommodation/">"Summer at UCD", Belfield</a></td>
                  <td>
                    <a style="text-align: center;" href="https://www.google.ie/maps/place/UCD+Estate+Services/@53.306154,-6.2176527,17z/data=!3m1!4b1!4m5!3m4!1s0x4867092fbf588805:0xec3c59ff0fe6aef8!8m2!3d53.306154!4d-6.215464"><i class="fa fa-map"></i></a>
                  </td>
                  <td>
                    <a href="https://ucd.events/?3505796521445873576">Book online</a>
                  </td>
                  <td>NA</td>
                  <td style="vertical-align: middle;" rowspan="1">NA</td>
		 <td style="vertical-align: middle;" rowspan="1">€69 (Single ensuite)</td>
                  <td style="vertical-align: middle;" rowspan="1">NA</td>
                </tr>
			  
                <tr>
                  <td><a href="https://www.claytonhotelballsbridge.com/">Clayton Hotel, Ballsbridge</a></td>
                  <td>
                    <a style="text-align: center;" href="https://www.google.com.au/maps/place/Clayton+Hotel+Ballsbridge/@53.3256826,-6.2271519,17z/data=!3m1!4b1!4m5!3m4!1s0x48670ec57aa7b09d:0x7965235d57af13f!8m2!3d53.3256826!4d-6.2249632?hl=en"><i class="fa fa-map"></i></a>
                  </td>
                  <td>
                    <a href="https://www.claytonhotelballsbridge.com/">Book online</a> or by calling the hotel <a href="tel:35316681111">+353 1 668 1111</a>
                  </td>
                  <td style="font-weight: bold;">CARP300518</td>
                  <td style="vertical-align: middle;" rowspan="1">18 April</td>
		 <td style="vertical-align: middle;" rowspan="1">€169 (includes bed & full Irish breakfast)</td>
                  <td style="vertical-align: middle;" rowspan="1">29/05/2018 to 01/06/2018</td>
                </tr>
				
                <tr>
                  <td><a href="https://www.talbothotelstillorgan.com/">Talbot Hotel, Stillorgan</a></td>
                  <td>
                    <a style="text-align: center;" href="https://www.google.com.au/maps/place/Talbot+Hotel+Stillorgan/@53.295023,-6.2049937,17z/data=!3m1!4b1!4m5!3m4!1s0x4867092024661d75:0x2914e1ed82d43bf8!8m2!3d53.295023!4d-6.202805?hl=enn"><i class="fa fa-map"></i></a>
                  </td>
                  <td>
                    <a href="https://www.claytonhotelballsbridge.com/">Book online</a> or by calling the hotel <a href="tel:+35312001800">+353 1 200 1800</a>
                  </td>
                  <td style="font-weight: bold;">CARPCON18</td>
                  <td style="vertical-align: middle;" rowspan="1">18 April</td>
		<td style="vertical-align: middle;" rowspan="1">€139 Twin/Double or €149 Triple (both rates include breakfast)</td>
                  <td style="vertical-align: middle;" rowspan="1">29/05/2018 to 01/06/2018 (latest checkout on June 1st)</td>
                </tr>
                
                <tr>
                  <td><a href="https://www.radissonblu.com/en/sthelenshotel-dublin">Radisson Blu St. Helen's Hotel</a></td>
                  <td>
                    <a style="text-align: center;" href="https://www.google.com/maps/place/Radisson+Blu+St.+Helen's+Hotel+Dublin/@53.3048132,-6.2078117,17z/data=!3m1!4b1!4m5!3m4!1s0x4867092610fe0e05:0x54fbd8e5e1370eed!8m2!3d53.30481!4d-6.205623"><i class="fa fa-map"></i></a>
                  </td>
                  <td>
                    <a href="https://www.radissonblu.com/en/sthelenshotel-dublin">Book online</a> or by calling the hotel <a href="tel:+35312186000">+353 1 898 2900</a>
                  </td>
                  <td style="font-weight: bold;">CarpentryCon 2018 / 2333156</td>
				  <td style="vertical-align: middle;" rowspan="1">28 March</td>
			<td style="vertical-align: middle;" rowspan="1">€215.00 Twin/Double or €230.00 Family (rates based on minimum 2 nights stay)</td>
                  <td style="vertical-align: middle;" rowspan="1">29/05/2018 to 01/06/2018 (minimum two nights)</td>
				  
				  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
