<!-- Begin Blog-->
<section id="blog" class="blog">
    <div class="content-wrapper text-left">
        {% if page.title != site.blogTitle %}
        <div class="col-lg-10 col-lg-offset-1">
            <h3 class="text-center"><a href="{{ site.baseurl }}/blog/">{{ site.blogTitle }}</a></h3>
			<article class="row">
				{% for post in site.posts limit:3 %}
                    {% assign postUrl = site.baseurl | append: post.url %}
					<div class="post col-md-4 col-sm-4 text-left animated hiding" data-animation="fadeInDown" data-delay="500">
						<h6>{{ post.title }}</h6>
						<p class="post-body">{{ post.content | strip_html | truncate: 250 }} <a href="{{ postUrl }}">continue reading</a></p>
					</div>
                {% endfor %}
			</article>
		</div>
        {% else %}
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
<!--            <h4>{{ site.blogTitle }}</h4>-->
            <div class="col-lg-6 col-md-8 col-xs-10">
                {% for post in site.posts %}
                    <article class="row post">
                        <a href="{{ site.baseurl | append: post.url }}" title="{{ post.title }}"><h5>{{ post.title }}</h5></a>
                        <div class="post-header">
                            <div class="published col-md-6 col-xs-6 pull-left">
                                <span class="caption">Posted:</span>
                                <span class="publish-date" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</span>
                            </div>
                            <div class="share col-md-6 col-xs-6 pull-right">
                                <ul class="social-links">
                                    {% assign postUrl = site.url | append: site.baseurl | append: post.url %} 
                                    <li>
                                        <a href="#" onclick="window.open('https://plus.google.com/share?url={{ postUrl }}', 'newwindow', 'width=600, height=500'); return false;">
                                            <svg class="icon icon-google-plus" viewBox="0 0 30 32">
                                                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-google-plus"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="window.open('https://twitter.com/home?status={{ postUrl }}', 'newwindow', 'width=600, height=250'); return false;">
                                            <svg class="icon icon-twitter" viewBox="0 0 30 32">
                                                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ postUrl }}', 'newwindow', 'width=600, height=500'); return false;">
                                            <svg class="icon icon-facebook" viewBox="0 0 30 32">
                                                <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-facebook"></use>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="post-body">{{ post.content | strip_html | truncate: 350 }} <a href="{{ site.baseurl | append: post.url }}">continue reading</a></p>
                    </article>
                {% endfor %} 

                {% if paginator.total_pages > 1 %}
                <div class="row">
                    <div class="pagination">
                        {% if paginator.previous_page %}
                        <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
                        {% else %}
                        <span class="previous">Previous</span>
                        {% endif %}
                        <span class="page-number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
                        {% if paginator.next_page %}
                        <a href="/page{{ paginator.next_page }}" class="next">Next</a>
                        {% else %}
                        <span class="next ">Next</span>
                        {% endif %}
                    </div>
                </div>
                {% endif %}

            </div>
            <div class="col-md-2 col-sm-2">
                <a class="twitter-timeline" href="https://twitter.com/thecarpentries?ref_src=twsrc%5Etfw">Tweets by thecarpentries</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        {% endif %}
    </div>
</section>
<!-- End Blog -->
