<!-- Clients Aside -->
    <section class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Funders and Supporters</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div>                   
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>We are grateful for the support of our many member organisations and funding bodies.</p>
                    <p>For the joint Carpentries, there are too many to list here, but you can see members, supporters and funders, past
                        and present, listed at
                        each Carpentry website -  <a href="https://software-carpentry.org/scf/partners/">Software Carpentry</a>,
                        and <a href="http://www.datacarpentry.org/about/">Data Carpentry</a>.</p>
                </div>
            </div>
 
            </div>
        </div>
    </section>
