<!-- Keynote Section -->
<section id="comp" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2>Our Keynote Speakers</h2>
<!--          <p class="text">The Carpentries are excited to announce that we have four fantastic keynote speakers lined up for you.</p>
-->
             <p class="text">The Carpentries will announce very soon key note speakers for the CarpentryCon 2020.
			 Contact the <a href="carpentrycon@carpentries.org">CarpentryCon Task Force</a> if you have any suggestions.
			 </p>
      </div>
    </div>
 <!--   
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h3>Valerie Aurora</h3>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12">
      <img class="img-responsive" src="/img/vaurora.png" alt="Valerie Aurora">
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12">
      <p>
        <a href="http://valerieaurora.org/">Valerie Aurora</a> is a software engineer turned
          diversity and inclusion consultant.
          She is the founder of <a href="https://frameshiftconsulting.com/">Frame Shift Consulting</a>, which helps
          technology organisations build
          in-house expertise and leadership in diversity and inclusion. As lead author and a facilitator of
          the <a href="https://frameshiftconsulting.com/ally-skills-workshop/">Ally Skills Workshop</a>, she has
          taught thousands of people ally skills: simple, everyday ways for people who have more power and influence
          to support people with less.
          She co-founded the <a href="http://adainitiative.org/">Ada Initiative</a> and <a href="https://doubleunion.org/">Double Union</a>,
          non-profits supporting women in technology and the arts.
          Prior to that, she worked as a Linux kernel and file systems developer for more than 10 years at Red Hat, IBM, Intel, and other technology companies.
      </p>
    </div>
  </div>
 -->



  </div>
</section>
