<!-- Keynote Section -->
<section id="comp" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2>Our Keynote Speakers</h2>
        <p class="text">The Carpentries are excited to announce that we have four fantastic keynote speakers lined up for you in Dublin.</p>
      </div>
    </div>
    
  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h3>Valerie Aurora</h3>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12">
      <img class="img-responsive" src="/img/vaurora.png" alt="Valerie Aurora">
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12">
      <p>
        <a href="http://valerieaurora.org/">Valerie Aurora</a> is a software engineer turned
          diversity and inclusion consultant.
          She is the founder of <a href="https://frameshiftconsulting.com/">Frame Shift Consulting</a>, which helps
          technology organizations build
          in-house expertise and leadership in diversity and inclusion. As lead author and a facilitator of
          the <a href="https://frameshiftconsulting.com/ally-skills-workshop/">Ally Skills Workshop</a>, she has
          taught thousands of people ally skills: simple, everyday ways for people who have more power and influence
          to support people with less.
          She co-founded the <a href="http://adainitiative.org/">Ada Initiative</a> and <a href="https://doubleunion.org/">Double Union</a>,
          non-profits supporting women in technology and the arts.
          Prior to that, she worked as a Linux kernel and file systems developer for more than 10 years at Red Hat, IBM, Intel, and other technology companies.
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h3>Desmond Higgins</h3>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12">
      <img class="img-responsive" src="/img/deshiggins.jpg" alt="Des Higgins">
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12">
      <p>
        Des Higgins is <a href="http://www.ucd.ie/conway/research/researchers/conwayfellowsa-z/professordeshiggins/">Professor of Bioinformatics</a> in University College
          Dublin, Ireland where his lab works on "omics" data analysis and
          sequence alignment algorithms. He has a PhD in Zoology from Trinity
          College Dublin, Ireland. His group maintains and develops the Clustal
          package for multiple sequence alignment in collaboration with groups
          in France, Germany and the UK.  Des wrote the first version of Clustal
          in Dublin in 1988 and then moved to the EMBL Data Library group, in
          Heidelberg, in 1990 as a post-doc and later, staff scientist. In
          1994, he moved to the EBI, Hinxton with the Data Library and stayed
          there for two years.This coincided with the release of Clustal W,
          and later, Clustal X which became extremely widely used and cited.
          Currently he has run out of letters and works on Clustal Omega which
          is designed for making extremely large protein alignments.
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h3>Anelda van der Walt</h3>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12">
      <img class="img-responsive" src="/img/anelda.jpg" alt="Anelda van der Walt">
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12">
      <p>
        <a href="https://twitter.com/aneldavdw">Anelda van der Walt</a> works with various organisations to improve computational and digital literacy and the establishment of communities of practice amongst African researchers, students, and support staff. The infectious vibe of collaboration and community experienced at her first Carpentry workshop in 2014 in Cape Town, made her realise there was a massive need for more such events locally. She founded <a href="http://www.talarify.co.za/">Talarify</a> in order to help drive change through sharing knowledge and is doing this by creating awareness of, and improving access to, reusable online materials, open communities, and free and/or open source tools. She was voted the <a href="http://www.datacarpentry.org/blog/csa-award-avdw/">2017 Carpentries Community Service Award</a> winner.
      </p>
    </div>
  </div>



  <div class="row">
    <div class="col-lg-12 col-sm-12">
      <h3>Greg Wilson</h3>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-12">
      <img class="img-responsive" src="/img/gvwilson.png" alt="Greg Wilson">
    </div>
    <div class="col-lg-10 col-md-8 col-sm-12">
      <p>
        <a href="http://third-bit.com/">Greg Wilson</a> has worked for 30 years in both industry and academia, and is the author or editor of
          several books on computing and two for children.
          He co-founded <a href="https://software-carpentry.org/">Software Carpentry</a>, and is now Head of Instructor Training for <a href="https://www.datacamp.com/home">DataCamp</a>.
      </p>
    </div>
  </div>


  </div>
</section>
