<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">Contact Us</h2>
                    <p>
                     Conference organisers (Task Force) can be contacted via email: <a href="mailto:carpentrycon@carpentries.org">carpentrycon@carpentries.org</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12"><h4>CarpentryCon 2020 TaskForce members</h4>
                <p>The following Task Force members are responsible for organising different aspects of CarpentryCon
                    2020. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>Liaison</h4>
                <ul>
                    <li>Sher!</li>
                    <li>Serah Njambi Rono</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Advisors</h4>
                <ul>
                    <li>Fotis Psomopoulos</li>
                    <li>Malvika Sharan</li>
                    <li>Mark Laufersweiler</li>
                    <li>Danielle Quinn</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Code of Conduct</h4>
                <ul>
                    <li>Malvika Sharan</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>Accessibility</h4>
                <ul>
                    <li>Silvia Di Giorgio</li>
                    <li>Christina Koch (co-chair)</li>
                    <li>Ouso Daniel</li>
                    <li>Gabriel Salubi (co-chair)</li>
                    <li>Sher! (co-chair)</li>
                    <li>Mina Zamani</li>
            </ul>
            </div>
            <div class="col-lg-4">
                <h4>Budget</h4>
                <ul>
                    <li>Silvia Di Giorgio (co-chair)</li>
                    <li>Anne Fouilloux></li>
                    <li>Ouso Daniel</li>
                    <li>Serah Njambi Rono (co-chair & staff liaison)</li>
                    <li>Jessica Upani (co-chair)</li>
                    <li>Sher! (staff liaison)</li>
                    <li>Elizabeth Williams (staff liaison)</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Communication</h4>
                <ul>
                    <li>Ouso Daniel (co-chair)</li>
                    <li>Sateesh Peri</li>
                    <li>Bianca Peterson</li>
                    <li>Serah Rono (staff liaison)</li>
                    <li>Gabriel Salubi</li>
                    <li>Sarah Stevens (co-chair)</li>
                    <li>Mina Zamani</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>Content development</h4>
                <ul>
                    <li>Marco Chiapello</li>
                    <li>Silvia Di Giorgio</li>
                    <li>Anne Fouilloux</li>
                    <li>Aleks Nenadic (co-chair)</li>
                    <li>Serah Rono (staff liaison)</li>
                    <li>Sher! (co-chair)</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Program</h4>
                <ul>
                    <li>Marco Chiapello</li>
                    <li>Silvia Di Giorgio</li>
                    <li>Shaily Gandhi</li>
                    <li>Sateesh Peri (co-chair)</li>
                    <li>Bianca Peterson (co-chair)</li>
                    <!--li><a>Sarah Stevens</li-->
                    <li>Serah Rono (staff liaison)</li>
                    <li>Sher! (staff liaison)</li>
                    <li>Jessica Upani</li>
                    <li>Mina Zamani</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Website and outreach</h4>
                <ul>
                    <li>Anne Fouilloux (co-chair)</li>
                    <li>Shaily Gandhi</li>
                    <li>Aleks Nenadic (co-chair)</li>
                    <li>Bianca Peterson</li>
                    <li>Serah Rono (staff liaison)</li>
                    <li>Sarah Stevens</li>
                    <li>Mina Zamani</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Additional CarpentryCon contributors</h4>
                <ul>
                    <li>Contact the <a href="mailto:carpentrycon@carpentries.org">CarpentryCon 2020 Task Force</a> if you are
                        willing to volunteer your time to help out at the conference.
                    </li>
                </ul>
            </div>
            <!--<div class="col-lg-12">-->
                <!--<h4>Local contacts</h4>-->
                <!--<ul>-->
                    <!--<li>To be added soon.</li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
</section>
