<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">Contact Us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12"><h4>CarpentryCon 2020 TaskForce members</h4>
                <p>The following Task Force members are responsible for organising different aspects of CarpentryCon
                    2020. Please contact
                    the relevant person for your issue. In an emergency, when you need a quick answer, use this email
                    address: <a href="mailto:carpentrycon@carpentries.org">carpentrycon@carpentries.org</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>Liaison</h4>
                <ul>
                    <li><a href="mailto:sheraaron@carpentries.org">Sher!</a></li>
                    <li>Serah Njambi Rono</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Advisors</h4>
                <ul>
                    <li>Fotis Psomopoulos</li>
                    <li><a href="mailto:malvika.sharan@embl.de">Malvika Sharan</a></li>
                    <li>Mark Laufersweiler</li>
                    <li>Danielle Quinn</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Code of Conduct</h4>
                <ul>
                    <li><a href="mailto:malvika.sharan@embl.de">Malvika Sharan</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>Accessibility</h4>
                <ul>
                    <li><a href="mailto:digiorgio@zbmed.de">Silvia Di Giorgio</a></li>
                    <li><a href="mailto:koch.christinal@gmail.com">Christina Koch</a> (co-chair)</li>
                    <li><a href="mailto:ousodaniel@gmail.com">Daniel Ouso</a></li>
                    <li><a href="mailto:Osalubi@ufh.ac.za">Gabriel Salubi</a> (co-chair)</li>
                    <li><a href="mailto:sheraaron@carpentries.org">Sher!</a> (co-chair)</li>
                    <li><a href="mailto:aster.andro777@gmail.com">Mina Zamani</a></li>
            </ul>
            </div>
            <div class="col-lg-4">
                <h4>Budget</h4>
                <ul>
                    <li><a href="mailto:anne.fouilloux@gmail.com">Anne Fouilloux</a></li>
                    <li><a href="mailto:digiorgio@zbmed.de">Silvia Di Giorgio</a> (co-chair)</li>
                    <li><a href="mailto:ousodaniel@gmail.com">Daniel Ouso</a></li>
                    <li>Serah Njambi Rono (co-chair & staff liaison)</li>
                    <li><a href="mailto:nabbygirl@gmail.com">Jessica Upani</a> (co-chair)</li>
                    <li><a href="mailto:sheraaron@carpentries.org">Sher!</a> (staff liaison)</li>
                    <li>Elizabeth Williams (staff liaison)</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Communication</h4>
                <ul>
                    <li><a href="mailto:ousodaniel@gmail.com">Daniel Ouso</a> (co-chair)</li>
                    <li><a href="mailto:perisateesh@nevada.unr.edu">Sateesh Peri</a></li>
                    <li><a href="mailto:bianca.peterson777@gmail.com">Bianca Peterson</a></li>
                    <li>Serah Rono (staff liaison)</li>
                    <li><a href="mailto:Osalubi@ufh.ac.za">Gabriel Salubi</a></li>
                    <li><a href="mailto:sarah.stevens@wisc.edu">Sarah Stevens</a> (co-chair)</li>
                    <li><a href="mailto:aster.andro777@gmail.com">Mina Zamani</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <h4>Content development</h4>
                <ul>
                    <li><a href="mailto:chiapello.m@gmail.com">Marco Chiapello</a> (co-chair)</li>
                    <li><a href="mailto:digiorgio@zbmed.de">Silvia Di Giorgio</a></li>
                    <li><a href="mailto:anne.fouilloux@gmail.com">Anne Fouilloux</a></li>
                    <li><a href="mailto:a.nenadic@manchester.ac.uk">Aleks Nenadic</a></li>
                    <li>Serah Rono (staff liaison)</li>
                    <li><a href="mailto:sheraaron@carpentries.org">Sher!</a> (co-chair)</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Program</h4>
                <ul>
                    <li><a href="mailto:chiapello.m@gmail.com">Marco Chiapello</a></li>
                    <li><a href="mailto:digiorgio@zbmed.de">Silvia Di Giorgio</a></li>
                    <li><a href="mailto:a.nenadic@manchester.ac.uk">Aleks Nenadic</a></li>
                    <li><a href="mailto:perisateesh@nevada.unr.edu">Sateesh Peri</a> (co-chair)</li>
                    <li><a href="mailto:bianca.peterson777@gmail.com">Bianca Peterson</a> (co-chair)</li>
                    <!--li><a href="mailto:sarah.stevens@wisc.edu">Sarah Stevens</a></li-->
                    <li>Serah Rono (staff liaison)</li>
                    <li><a href="mailto:sheraaron@carpentries.org">Sher!</a> (staff liaison)</li>
                    <li><a href="mailto:aster.andro777@gmail.com">Mina Zamani</a></li>
                    <li><a href="mailto:nabbygirl@gmail.com">Jessica Upani</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Website and outreach</h4>
                <ul>
                    <li><a href="mailto:chiapello.m@gmail.com">Marco Chiapello</a></li>
                    <li><a href="mailto:anne.fouilloux@gmail.com">Anne Fouilloux</a> (co-chair)</li>
                    <li><a href="mailto:a.nenadic@manchester.ac.uk">Aleks Nenadic</a> (co-chair)</li>
                    <li><a href="mailto:bianca.peterson777@gmail.com">Bianca Peterson</a></li>
                    <li><a href="mailto:malvika.sharan@embl.de">Malvika Sharan</a></li>
                    <li><a href="mailto:sarah.stevens@wisc.edu">Sarah Stevens</a></li>
                    <li><a href="mailto:aster.andro777@gmail.com">Mina Zamani</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Additional CarpentryCon contributors</h4>
                <ul>
                    <li>Contact the <a href="mailto:carpentrycon@carpentries.org">CarpentryCon 2020 Task Force</a> if you are
                        willing to volunteer your time to help out at the conference.
                    </li>
                </ul>
            </div>
            <div class="col-lg-12">
                <h4>Local contacts</h4>
                <ul>
                    <li>Local contacts will be added once we decide on the venue.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
