<section id="contact">
        <div class="container">
          <div class="row">
                <div class="col-lg-12 text-left">
                    <h2 class="section-heading">Contact Us</h2>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-12"><h4>CarpentryCon 2018 TaskForce members</h4>
                            <p>The following Task Force members are responsible for organizing different aspects of CarpentryCon 2018. Please contact
                            the relevant person for your issue. In an emergency, when you need a quick answer, use this email address: <a href="mailto:carpentrycon@carpentries.org">carpentrycon@carpentries.org</a> </p>                      <ul> 
                            <li>  <a href="mailto:fpsom@issel.ee.auth.gr">Fotis Psomopoulos</a> (Chair): <em>Visa support, accommodation</em>
                            <li> <a href="mailto:malvika.sharan@embl.de">Malvika Sharan</a> (Secretary): <em>Visa support, travel scholarships, on-campus accommodation, diversity and inclusion</em>
                <li> <a href="mailto:bweaver@carpentries.org">Belinda Weaver</a> (The Carpentries): <em>Website, sponsorship, abstract submissions, news and announcements</em>
                            <li> <a href="mailto:"sheraaron@carpentries.org">SherAaron Hurt</a> (The Carpentries): <em>Travel scholarships, sponsorship, childcare, diversity and inclusion, registration</em>
        <li> Mark Laufersweiler: <em>on-site speaker/facilitator organizer, where needed</em>
        <li> Danielle Quinn: <em>Social media</em>
        <li> Ivo Arrey: <em>Volunteers, social media</em>
                <li>General email: <a href="mailto:carpentrycon@carpentries.org">carpentrycon@carpentries.org</a>
                  </ul>   
                                    
                  <h4>Local contact</h4>
                                    <p>The local contact at University College Dublin for CarpentryCon 2018 is <strong>Dr. Norman Davey</strong>. Email Norman at <a href="mailto:norman.davey@ucd.ie">norman.davey@ucd.ie</a>. Phone: +353 1 716 7777.
                                    
                                    </p>                          
   <h4> Additional CarpentryCon contributors</h4>
           <ul>             
       <li> Norman Davey: Venue contact, location sponsor (seed funding)
       <li> Erin Becker, Kari Jordan, Elizabeth Williams (The Carpentries): Travel scholarships, diversity and inclusion
       <li> Tracy Teal, Greg Wilson, Mateusz Kuzak, Alix Keener, Jason Williams, Jonah Duckles, Jamie Hadwin, Rayna Harris, Maneesha Sane (past Task Force contributors)

                </ul>

                    
                </div>
            </div>
        </div>
    </section>
