<!-- Donor Section -->
    <section id="donor" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
       
                    <h2>Our Sponsors and Donors</h2>
                    
                    <p class="text">The Carpentries would like to acknowledge the very generous support of the following organisations and individuals, who are helping to make CarpentryCon 2018 possible. If you are interested in sponsorship opportunities at CarpentryCon, please see our <a href="http://www.carpentrycon.org/#portfolio">Sponsorship page</a>.</p>
      
                    <h4>Venue Sponsor</h4>
                    
                   <a href="http://www.ucd.ie/"><img src="/img/logos/ucd_logo.png" alt="University College Dublin" style="width:75px;height:75px;"></a>
      <br \>
                    <hr>
                               
                    <h4>Travel Sponsors</h4>
                    
                    <a href="http://www.failteireland.ie/">
                        <img src="/img/logos/FailteIreland.jpg" alt="Failte Ireland" style="width:300px;height:60px;"></a> &nbsp; &nbsp;
                    
                   <a href="https://software.ac.uk/"> 
                       <img src="/img/logos/SSI_Big300dpi.png" alt="Software Sustainability Institute" style="width:260px;height:60px;"></a> &nbsp; &nbsp;
               
                   <a href="https://www.python.org/psf/">
                        <img src="/img/logos/psf-logo-narrow-256x84-alpha.png" alt="Python Software Foundation" style="width:250px;height:60px;"></a> &nbsp; &nbsp;
                   
       <br \><hr>
                    
                      
                               
                    <h4>Travel Scholarship Donor</h4>
                    
                    <a href="https://twitter.com/_christinaLK">Christina Koch</a>
               
       <br \><hr>
                    <h4>Gift Sponsors</h4>
                    
                    <a href="https://www.overleaf.com/"><img src="/img/logos/Overleaf-logo.png" alt="Overleaf" style="width:230px;height:60px;"></a>

<br \><hr>
                    <h4>Prize Sponsors</h4>
                    
                    <a href="https://www.rstudio.com/"><img src="/img/logos/RStudio-Logo-Blue-Gray.png" alt="RStudio" style="width:180px;height:60px;"></a> &nbsp; &nbsp;

                    <a href="https://www.jax.org/"><img src="/img/logos/jax.gif" alt="The Jackson Laboratory" style="width:235px;height:95px;"></a>
                </div>
                
                
            </div>
        </div>
    </section>
