<!-- Competition Section -->
    <section id="comp" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h3>Our Sponsors and Donors</h3>
                    
                    <p class="text>The Carpentries would like to acknowledge the generous support of the following organisations.</p>
                    
                    <h3>Venue Sponsors</h3>
                    
                   <img src="{{ site.filesurl }}/img/logos/ucd_logo.png" alt="University College Dublin" style="width:50px;height:65px;" >
               
                               
                    <h3>Travel Sponsors</h3>
                    
                    <img src="/img/logos/FailteIreland.jpg" alt="University College Dublin" style="width:300px;height:60px;" >
               
                    
                    <h3>Gift Sponsors</h3>
                    
                    <img src="{{ site.filesurl }}/img/logos/Overleaf-logo.png" alt="Overleaf" style="width:300px;height:60px;">

         


    </p>
                </div>
            </div>
        </div>
    </section>
