<!-- Competition Section -->
    <section id="comp" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
       
                    
                    <p class="text">The Carpentries would like to acknowledge the generous support of the following organisations, who are helping to make CarpentryCOn 2018 possible.</p>
                    
                    <h3>Venue Sponsor</h3>
                    
                   <a href="http://www.ucd.ie/"><img src="/img/logos/ucd_logo.png" alt="University College Dublin" style="width:75px;height:75px;"></a>
         <hr><br \>
                               
                    <h3>Travel Sponsors</h3>
                    
                    <a href="http://www.failteireland.ie/"><img src="/img/logos/FailteIreland.jpg" alt="Failte Ireland" style="width:310px;height:70px;"></a>
               
         <hr><br \>
                    <h3>Gift Sponsors</h3>
                    
                    <a href="https://www.overleaf.com/"><img src="/img/logos/Overleaf-logo.png" alt="Overleaf" style="width:240px;height:70px;"></a>


    </p>
                </div>
            </div>
        </div>
    </section>
