<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" id="home" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" id="logo-link" href="#page-top">
                    <div id="logo">The Carpentries</a></div>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                     <li>
                        <a class="page-scroll" href="#services">Support</a>
                    </li>
                                    
                    <li>
                        <a class="page-scroll" href="#portfolio">Learn</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#teach">Teach</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
	        <div class="container">
	            <div class="intro-text">
	                <div class="intro-lead-in">Computational and data skills for researchers</div>
	                <div class="intro-heading">Welcome to the Carpentries</div>
	                <a href="#services" class="page-scroll btn btn-xl">Find Out More</a>
	            </div>
	        </div>
	    </header>

<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
