<!-- Registration Section -->
    <section id="rego" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left"> 
                   
                    
         <style>
table, th, td {
    border: 1px solid black;
table {
    border-spacing: 5px;
}
}
th, td {
    padding: 10px;
}
             <style>
a:link {
    text-decoration: none;
}
                    </style>
                      
   
                       <h2 class="section-heading">Conference Registration</h2>
                    
                     <p class="text-muted">There are a range of <a href="https://www.eventbrite.com/e/carpentrycon-2018-tickets-42447719271">registration types</a>, including Early Bird. <br \>We will try to support lower fees (or waive fees altogether) for people who can make a good case for assistance. <br \><a href="mailto:team@carpentries.org">Make your case here</a>.</p>
               
                    
                        <br \>

                    <table width="100%">

<tr>

                <th valign="top">Type</th>

                <th valign="top">Cost</th>

            <th valign="top">Closing date</th>

            <th valign="top">What's included</th>
    
        <th valign="top">Registration</th>
</tr>

<tr>
    

                <td valign="top">Early Bird Registration</td>

                <td valign="top">$200</td>

                <td valign="top">16 March, 2018</td>
    
                <td valign="top">Full registration<br \>
                - Access to all conference sessions<br \>
                - Access to all workshops<br \>
                - Access to all social events</td>
                <td valign="top"><a href="https://www.eventbrite.com/e/carpentrycon-2018-tickets-42447719271">Buy ticket</a></td>
  </tr>
                <tr>
    

                <td valign="top">Full-Time Student Registration</td>

                <td valign="top">$100</td>

                <td valign="top">15 May, 2018</td>
    
                <td valign="top">Full registration<br \>
                - Access to all conference sessions<br \>
                - Access to all workshops<br \>
                - Access to all social events</td>
               <td valign="top"><a href="https://www.eventbrite.com/e/carpentrycon-2018-tickets-42447719271" style="text-decoration: none">Buy ticket</a></td>
  </tr>

                        <tr>
    

                <td valign="top">Regular Registration</td>

                <td valign="top">$250</td>

                <td valign="top">15 May, 2018</td>
    
                <td valign="top">Full registration<br \>
                - Access to all conference sessions<br \>
                - Access to all workshops<br \>
                - Access to all social events</td>
               <td valign="top"><a href="https://www.eventbrite.com/e/carpentrycon-2018-tickets-42447719271" style="text-decoration: none">Buy ticket</a></td>
  </tr>



    <tr>
    

                <td valign="top">Last Minute Registration</td>

                <td valign="top">$275</td>

                <td valign="top">After 15 May, 2018</td>
    
                <td valign="top">Full registration<br \>
                - Access to all conference sessions<br \>
                - Access to all workshops<br \>
                - Access to all social events</td>
                <td valign="top"><a href="https://www.eventbrite.com/e/carpentrycon-2018-tickets-42447719271" style="text-decoration: none">Buy ticket</a></td>
  </tr>
 
                                                                               <tr>
    

                <td valign="top">Partner/Friend Dinner Ticket</td>

                <td valign="top">$45</td>

                <td valign="top">15 May, 2018</td>
    
                <td valign="top">Conference Dinner only<br \>
</td>
                <td valign="top"><a href="https://www.eventbrite.com/e/carpentrycon-2018-tickets-42447719271" style="text-decoration: none">Buy ticket</a></td>
  </tr>
                        
 </table>


                </div>
            </div>
        </div>
    </section>
