<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Lessons</h2>
                    <!-- <h3 class="section-subheading text-muted">Current lessons.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Our lessons</h3>
                    <p>Find links to all our <a href="https://software-carpentry.org/lessons/">current lessons</a>, including community contributed lessons.</p>
                    <p>Information on attribution, and on how to contribute to lessons, is also held here.</p>
                </div>
            </div>
        </div>
    </section>
