<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Lesson Development</h2>
                    <!-- <h3 class="section-subheading text-muted">Current stable, beta and alpha lessons.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h3>Statues</h3>
                    <h4>Stable</h4>
                    <p>These lessons are mature and ready to be taught. The content is well-established, but minor changes and improvements (e.g. better explanations, spelling/grammar corrections, improved exercises) are always welcome.</p>
                    <h4>Beta</h4>
                    <p>These lessons are largely complete and should be ready to teach, but would benefit from improvements based on the experience of instructors. New sections and rewrites/reorganisations of existing sections will be considered.</p>
                    <h4>Alpha</h4>
                    <p>These lessons are under active development and may not be ready to teach without additional preparation and background knowledge. Further development work is strongly encouraged - get in touch or check out outstanding issues on GitHub to find out what’s needed.</p>
                    <p>All contributions are welcome, but if you would like to focus your efforts where they are most needed, take a look at the alpha and beta lessons.
                    </p>
                    <h3>Lesson development process</h3>
                    <p>Our recommended process for developing a new lesson is as follows:</p>
                    <ol>
                    <li>Develop the initial content on github using the lesson template</li>
                    <li>Introduce yourself and the lesson on our gitter channel — there may well be willing volunteers to help with the content</li>
                    <li>Teach the lesson, collect feedback & improve the content</li>
                    <li>Propose your lesson for the incubator by making a pull request (PR) against the Library Carpentry website, adding a link to your lesson repository as an alpha lesson</li>
                    <li>Discuss the lesson with the community and if necessary offer suggestions on how to improve the lesson; if the lesson is considered suitable material for the Library Carpentry curriculum a website maintainer will merge your PR into the main site</li>
                    <li>You and others will teach the lesson, collect feedback & improve the content</li>
                    <li>Propose your lesson for beta/stable by making a pull request against the Library Carpentry website, updating the status of your lesson</li>
                    <li>Discuss the lesson further with the community; when the lesson is ready, a website maintainer will merge your PR</li>
                    </ol>
                    <p>Congratulations! Your lesson is now part of stable LC</p>
                    <h3>New lesson expectations</h3>
                    <p>In order to maintain consistent quality and style in the Library Carpentry lessons, we have a community-driven set of expectations for what a good lesson should look like. These should guide the review process at steps 5 and 8 above. Lesson developers and reviewers should also read and follow the guidelines in the Software Development instructor training manual.</p>
                    <p>All stable lessons should:</p>
                    <ol>
                    <li>have at least two active maintainers</li>
                    <li>include a short learner profile</li>
                    <li>include good quality learning objectives</li>
                    <li>be teachable in 3 hours under normal circumstances</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
