<section id="map">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 class="section-heading">University College Dublin</h2>
        <p>
          The University College Dublin campus is situated in Belfield, located just 4km south of Dublin city centre. The campus can be easily accessed by public transport. For suggested routes please refer to the interactive map which can be found <a href="https://hittheroad.ie/#to=University+College+Dublin,+Belfield,+Dublin+4(53.305344,-6.220654)">here</a>.
          The conference venue is UCD O'Brien Centre for Science, UCD Science Centre (East). 
        </p>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-6.237316131591798%2C53.30219759978984%2C-6.212425231933594%2C53.312159896518956&amp;layer=mapnik&amp;marker=53.3081013%2C-6.2243704" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=53.3072&amp;mlon=-6.2249#map=16/53.3072/-6.2249">View Larger Map</a></small>
        </div>
        <p>
          <address>
            <strong>University College Dublin</strong><br>
            Belfield, Dublin 4, Ireland.
          </address>
        </p>
        <h3>Contact numbers</h3>
        <ul>
          <li>University College Number: +353 1 716 7777</li>
          <li>UCD Unicare emergency line (Campus security): +353 1 716 7999</li>
          <li>999 or 112</li>
          <li>Donnybrook Garda Station (Police): +353 1 666 9200</li>
        </ul>
      </div>
    </div>
  </div>
</section>
