<!-- Begin Our Speakers Section -->
<!-- <section id="our-speakers" class="our-speakers image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site. ourSpeakersImage }});">
	<div class="overlay solid-overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1 our-speakers-list">
			<h3 id="our-speaker-title">{{ site.ourSpeakerTitle }}</h3>
			<div class="clearfix"></div> 
			<span class="bordered">
				<a href="{{ site.baseurl }}/speakers/" class="bottom-section-link waves-effect waves-button waves-light">{{ site. ourSpeakersButtonText }}</a>
			</span>
		</div>
	</div>
</section> -->
<!-- End Our Speakers Section -->