
<section id="past_carpentrycons" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left" style="padding-bottom: 20px;">
                <h2 class="section-heading">Past CarpentryCon conferences</h2>
                 <ul>
                     <li>
                         <a href="http://www.carpentrycon.org/">CarpentryCon 2018, Dublin, Ireland</a>
                     </li>
                 </ul>
            </div>
        </div>
    </div>
</section>
