<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
            <h2 class="section-heading">CarpentryCon Sponsorship</h2>

            <p class="text">CarpentryCon 2018 planning is now well underway. We have chosen a venue and a date, identified keynote speakers, and roughed out a program, but we are still missing one vital piece:</p>
                
                <h4>MORE SPONSORS!</h4>
                    
            <p class="text">CarpentryCon 2018 will only be possible with the generous support of businesses and foundations who support our mission of 
                        teaching foundational computational and data science skills to researchers to safeguard the future of sound, open, reproducible science. </p>
          
            <h2> Why sponsor CarpentryCon?</h2>
            <p class="text">Without the support of sponsors who share our vision, we will not be able to deliver the event our community needs.</p>
            <ul>
            <li>Help us keep registration costs low so people aren't priced out of attending 
            <li>Help us maximise participation by people from diverse geographies and communities, including the global South 
            <li>Help us provide travel scholarships to allow as wide an audience as possible to attend 
            </ul>


            <p class="text">By supporting us, you will help skill up the next generation of research leaders, people who will attend CarpentryCon to develop the skills needed to lead 21st century research, whether that be in academia or industry. </p>
            <h4>This is a perfect opportunity to promote your products and services to these research leaders of the future.</h4>
                
             <p class="text">In return for your support, we can promise you a number of benefits. </p>


  <h3>Marketing</h3>

    <p class="text">Your name, your product, your service can all be part of our event marketing. Get your logo on our website, our T-shirt, our poster, our conference slides, and on all our promotional materials, including social media and email channels. Leading sponsors will get conference time to air their messages, and will be able to send targeted emails to all delegates. </p>

  <h3>Expo</h3>

    <p class="text">We will provide exhibition space to allow you to showcase your offerings and network with delegates during the three days of CarpentryCon. You can demo products or services, give away swag, and start some great conversations.</p>

  <h3>Our audience</h3>

    <p class="text">CarpentryCon's diverse audience will include graduate students, early career researchers, senior academics, lab and project leaders, software engineers, people in the tech industry, and more. We expect people to come from all round the world to attend this signature event.</p>

  <h3>Finding people to join your company</h3>
  
    <p class="text">Many graduate student and early career researchers make the jump from academia to industry. What better place to find your next staffer than at CarpentryCon where people have come along to grow and sharpen a diverse range of skills?</p>

  <h3>Meeting your needs</h3>
  
    <p class="text">Not sure any of our packages work for you? We will tailor a sponsorship package that exactly fits your needs. All you have to do is ask!</p>

                <p class="text">Contact <a href="mailto:bweaver@carpentries.org">Belinda Weaver</a> or <a href="mailto:sheraaron@carpentries.org">SherAaron Hurt</a> to discuss your options, or <a href="https://docs.google.com/forms/d/e/1FAIpQLSedlt68CXVmyVJ4DEI8P9nfAXhGYbTHA9YgFQYomXjzzZDJOg/viewform">use this form to express interest</a>. </p>

                <h2>Sponsorship Opportunities</h2>
                    
      <p class="text">Hosted at <strong><a href="http://www.ucd.ie/">University College, Dublin</a> from 30 May - 1 June, 2018</strong>, CarpentryCon 2018 will be the key networking and community-building
                        event in the Carpentries' annual calendar.
                       Some of the brightest and most promising researchers and data scientists from around the world will meet to network, to learn 
                        about digital research tools, and the practice of reproducible, open science, 
                        and to further develop the coding, communication and project management skills research and industry are crying out for.</p>
                   

                    
                <p> </p>
        <h5>There are many ways to support CarpentryCon 2018! We are seeking:</h5>
                
<table cellpadding="5" border="0">
    <tr>
        <td valign="top"><strong>Leading Sponsors</strong> to support the whole event |</td>
        <td valign="top"><strong>&nbsp;Supporting Sponsors</strong> to cover the many costs entailed |</td>
        <td valign="top"><strong>&nbsp;Travel Sponsors</strong> to make it diverse, global, and accessible.</td>
    </tr>
</table>
                  <p> </p>              
            <p><h4><a href="https://docs.google.com/forms/d/e/1FAIpQLSedlt68CXVmyVJ4DEI8P9nfAXhGYbTHA9YgFQYomXjzzZDJOg/viewform">Express your interest in sponsoring CarpentryCon 2018</a> 
                        
                or <a href="/img/sponsor_flyer.pdf">Download the Sponsorship flyer</a>  </p>
                    
    <h3>Sponsorship Tiers Available</h3>
                        <br \>
                    
                    <table cellpadding="5">

<tr>

                <th valign="top">Tier</th>

                <th valign="top">Amount</th>


                <th valign="top">What's included</th>
                                <tr>
<td>&nbsp;
</td>
                                
<td>&nbsp;
</td>
                                
<td>&nbsp;
</td>
                                
</tr>
  
<tr>

                <td valign="top">Leading Sponsor</td>

                <td valign="top">$25,000</td>


                <td valign="top">
        <ul><li>Top-level placement of organization's logo on conference website and title slides, and on giveaways produced (e.g. t-shirt)
        <li>Opportunity to address the full conference for up to 5 minutes
        <li>Opportunity to have two communications of up to 150 words included in emails sent to conference participants
        <li>Statement of thanks at the opening of the conference (logos displayed)
        <li>Table and space provided for organization's marketing material throughout the conference
                    <li>Free conference registrations for up to 3 people from sponsor's organization</ul></td>
  </tr>

                            <tr>
<td>&nbsp;
</td>
                                
<td>&nbsp;
</td>
                                
<td>&nbsp;
</td>
                                
</tr>
  <tr>
  
                  <td valign="top">Supporting Sponsors</td>
  
                  <td valign="top">$12,500</td>
  
  
                  <td valign="top">
         <ul> <li>Prominent placement of organization's logo on conference homepage and on giveaways produced (e.g. t-shirt)<br \>
          <li>Opportunity to address the assembled participants for up to 5 minutes during the conference<br \>
          <li>Opportunity to have one communication of up to 150 words included in an email sent to all conference participants<br \>
          <li>Statement of thanks at the opening of the conference (logos displayed)<br \>
          <li>Table and space provided for organization's marketing material throughout the conference<br \>
             <li>Free conference registrations for up to 2 people from sponsor's organization</ul> </td>
  
    </tr>
                            <tr>
<td>&nbsp;
</td>
                                
<td>&nbsp;
</td>
                                
<td>&nbsp;
</td>
                                
</tr>
    <tr>
    
                    <td valign="top">Donors - Organizations or Individuals</td>
    
                    <td valign="top">$5,000 / negotiable</td>
    
   
                    <td valign="top">         
            <ul><li> Placement of organization's logo/individual name on conference homepage as donor<br \>
            <li>Statement of thanks to donors at the closing of the conference (logos/names displayed) </ul> </td>
   </tr>
                            <tr>
<td>&nbsp;
</td>
                                
<td>&nbsp;
</td>
                                
<td>&nbsp;
</td>
                                
</tr>
      <tr>
      
                      <td valign="top">Travel Sponsors</td>
      
                      <td valign="top">From $2,500</td>
      
      
                      <td valign="top">
              <ul><li> Sponsor one (or more) attendees to attend the conference with a full scholarship that covers travel, accommodation, conference registration, and visa processing fees.<br \>
              <li> Placement of organization's logo on a dedicated portion of the conference website<br \>
              <li> Statement of thanks to sponsoring organizations at the opening of the conference (logos displayed)</ul></td>
      
        </tr>

                            <tr>
<td>&nbsp;
</td>
                                
<td>&nbsp;
</td>
                                
<td>&nbsp;
</td>
                                
</tr>
<tr>

                <td valign="top">Prize Sponsors</td>

                <td valign="top">From $1,000</td>

        <td valign="top">
       <ul><li>Placement of organization's logo on conference homepage as prize sponsor<br \>
           <li>Statement of thanks at the closing of the conference (logos displayed)</li></td>

  </tr>
  
 </table>

       
                </div>
            </div>
        </div>
    </section>
