<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2 class="section-heading">Sponsorship Opportunities</h2>
                    
                    <p class="text-muted">Hosted in Dublin from 30 May - 1 June, 2018, CarpentryCon 2018 will be the key networking and community-building
                        eventin our annual calendar.
                       Some of the brightest and most promising researchers and data scientists from around the world will meet to network, to learn 
                        about digital research tools and the practice of repoducible, open science, 
                        and to further develop the coding, communication and project management skills research and industry are crying out for. 
                        However, CarpentryCon will only be possible with the generous support of businesses and foundations who support our mission of 
                        teaching foundational computational and data science skills to researchers to safeguard the future of sound, open, reproducible science. </p>
                                        
                    <p class="text-muted">There are many ways to support CarpentryCon 2018. We are seeking one Leading Sponsor to support the event
                        as a whole, and we would welcome other supporting sponsorships that would allow us to offer travel scholarships and prizes. </p>   
                    <p> </p>
<h3>Sponsorship Tiers Available</h3>

                        
<h4>Sponsorship tier: Leading Sponsor <br \>
Amount:  $25,000<br \>
Number available: 1<br \>
What's included in the package: </h4><br \>
                                        <p class="text-muted">
              <ul>                   
<li>Top-level placement of organization's logo on conference homepage, on any giveaways produced (e.g. t-shirt), and on conference title slides
<li>Opportunity to address the full conference for up to 5 minutes during the conference
<li>Opportunity to have two communications of up to 150 words included in emails sent to conference participants
<li>Opportunity for a 5-minute presentation to full conference
<li>Statement of thanks at the opening of the conference (logos displayed)
<li>Table and space provided for organization’s marketing material throughout the conference
<li>Free conference registrations for up to three people        </ul>  
                    </p>
 
                    <hr>
                    
                    <h4>Sponsorship tier: Supporting Sponsor<br \>
Amount:  $12,500<br \>
Number available: 10<br \>
What's included in the package: </h4><br \>
                    
 <p class="text-muted"> 
     
             <ul>              
<li>Prominent placement of organization’s logo on conference homepage and on any giveaways produced (e.g. t-shirt)
<li>Opportunity to address the assembled participants for up to 5 minutes during the conference
<li>Opportunity to have one communication of up to 150 words included in an email sent to all conference participants
<li>Statement of thanks at the opening of the conference (logos displayed)
<li>Table and space provided for organization's marketing material throughout the conference
<li>Free conference registrations for up to two people </ul> 
                    </p>
                                           <hr>    
                                        <h4>Sponsorship tier: Donor - Organizations/Individuals<br \>
Amount:  $5,000 / negotiable<br \>
Number available: unlimited<br \>
What's included in the package: </h4><br \>
                    
                        <p class="text-muted">
          <ul>                           
<li>Placement of organization's logo/individual name on conference homepage as donor
<li>Statement of thanks to donors at the closing of the conference (logos/names displayed</ul> 

                       </p>
                       <hr>
                    
                 <hr> 
                    
                                        <h4>Sponsorship tier: Travel Sponsor<br \>
Amount:  Starting from $2,500<br \>
Number available: unlimited<br \>
What's included in the package: </h4><br \>
                    
                    <p class="text-muted">
                        
         <ul>                      
<li>Sponsor one attendee to attend the conference with a full scholarship that covers travel, accommodation, conference registration, and visa processing fees.
<li>Placement of organization’s logo on a dedicated portion of the conference website
<li>Statement of thanks to sponsoring organizations at the opening of the conference (logos displayed)</ul> 
                    </p>
                       <hr>    
                                        <h4>Sponsorship tier: Prize Sponsor<br \>
Amount:  Starting from $1,000<br \>
Number available: 3-6<br \>
What's included in the package: </h4><br \>
                    
                        <p class="text-muted">
                        
       <ul>                     
<li>Placement of organization's logo on conference homepage as prize sponsor
<li>Statement of thanks at the closing of the conference (logos displayed)
                            <li>Table and space provided for organization’s marketing materials </ul>
                    </p>

                    <p>Need something else? We are happy to <strong>tailor a sponsorship package to your needs</strong>. <a href="https://docs.google.com/forms/d/e/1FAIpQLSedlt68CXVmyVJ4DEI8P9nfAXhGYbTHA9YgFQYomXjzzZDJOg/viewform">Please get in touch.</a></p>

                    <hr>
                    
        
                </div>
            </div>
        </div>
    </section>
