<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2 class="section-heading">Our Lessons</h2>
                    
                    <p class="text-muted">All <a href="http://www.software-carpentry.org/">Software Carpentry</a> lessons are 
                hosted on <a href="https://github.com/">GitHub</a>.
                        
                    Repositories are <em>lesson-specific</em>, meaning that lessons such as Unix shell and Programming with Python 
                       all have their own separate repositories.
                   You can find our lessons through our <a href="http://www.software-carpentry.org/lessons">website</a>, and either 
.                   connect to the 
                        <em>public-facing</em> view of individual lessons, 
                        or see the <em>repository </em> view.
                    In the repository view, you can create issues, fork the lessons, or submit pull requests 
                        for changes. Lessons include community-contributed content. </p>
                    <p>
                    <hr>
                    </p>
                    <p class="text-muted">All <a href="http://www.datacarpentry.org/">Data Carpentry</a> lessons are hosted 
                        on <a href="https://github.com/">GitHub</a>.
                    You can find our lessons through our <a href="http://www.datacarpentry.org/lessons">website</a>, and either 
                    connect to the 
                        <em>public-facing</em> viewof individual lessons, 
                        or see the <em>repository </em> view.
                        In repository view, you can create issues, fork the lessons, or submit pull requests 
                        for changes.</p>
                      <p>
                    <hr>
                    </p>
                    <p class="text-muted">All Software and Data Carpentry lessons are freely available under the 
                        <a href=" https://software-carpentry.org/license/">Creative Commons - Attribution License</a> (CC BY). 
                        You may re-use and re-mix the material in any way you wish, without asking permission, 
                        provided you cite us as the original source (e.g., provide a link back to this website).
                        </p>
                                  <p>
                    <hr>
                    </p>
        <p class="text-muted">Interested in contributing to our lessons? See 
            our <a href="http://www.software-carpentry.org/lessons">lessons page</a>.</p>
        
                </div>
            </div>
        </div>
    </section>
