<!-- Program Section -->
<section id="prog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 style="text-align:center;">CarpentryCon 2018 Program</h2>
        <p class="text" style="text-align:center;">Our program - follow links for session abstracts.</p>

       
        <h4><a href="https://github.com/carpentries/carpentrycon/tree/master/Sessions/2018-05-30">Wednesday, 30 May</a></h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Event</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr>
                <td>Wednesday</td>
                <td>8:15-9:00 am</td>
                <td>Registration</td>
                <td>Foyer</td>
              </tr>


              <tr>
                <td>Wednesday</td>
                <td>9:00-9:10 am</td>
                <td><strong>Welcome to Conference</strong></td>
                <td>TBA</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>9:15-10:10 am</td>
                <td><h4><em>Keynote</em> Valerie Aurora</h4><br>
                   <em>Focus on Allies</em><br \>
                    <small>Includes question time</small></td>
                  <td>George Moore Auditorium</td>
              </tr>
                            <tr>
                <td>Wednesday</td>
                <td>10:10-10:30 am</td>
                <td style="font-weight: 700;"> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/00-Icebreaker-Story-Circles.md">Story Circle Icebreaker</a></td>
                <td>Foyer</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>10:45-11:30 am</td>
                <td>Morning break and networking</td>
                <td>Foyer</td>
              </tr>

              <tr>
                <td rowspan="3">Wednesday</td>
                <td rowspan="3">11:30-12:30 am</td>
                <td><b>Skill-Up 1</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/01-Skill-Up-1-Project-Leadership/Abstract.md">Project Leadership</a> <br \>
                  <em>Fotis Psomopoulos /community contributions</em></td>
                <td>TBA</td>
              </tr>
              <tr>
                <td><b>Skill-Up 2</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/02-Skill-Up-2-Speaking-Effectively/Abstract.md">Speaking Effectively</a><br \>
                  <em>Belinda Weaver</em></td>
                <td>TBA</td>
              </tr>
              <tr>
                <td><b>Skill-Up 3</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/03-Skill-Up-3-Contributing-On-GitHub/Abstract.md">Contributing on GitHub</a><br \>
                  <em>Raniere Silva, François Michonneau</em></td>
                <td>TBA</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>12:30-1:30 pm</td>
                <td><b>Lunch</b></td>
                <td>TBA</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>1:30-2:35 pm</td>
                <td><h4><em>Keynote</em> Greg Wilson</h4><br>
                 <em>Late Night Thoughts on Listening to Ike Quebec</em><br \>
                  <small>Includes question time</small></td>

                <td>George Moore Auditorium</td>
              </tr>

              <tr>
                <td rowspan="3">Wednesday</td>
                <td rowspan="3">2:35-3:35 pm</td>
                <td><b>Breakout 1</b>: <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/04-Breakout-1-Carpentry-Methods-In-University-Courses/Abstract.md">Carpentry Methods in University Courses</a><br |>
                  <em>Elizabeth Wickes, Lex Nederbragt</em></td>
                <td>TBA</td>
              </tr>
              <tr>
                <td><b>Breakout 2</b>: <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/05-Breakout-2-Chasing-Funding-For-Workshops/Abstract.md">Chasing Funding for Workshops</a><br \>
                  <em>SherAaron Hurt</em></td>
                <td>TBA</td>
              </tr>
              <tr>
                <td><b>Breakout 3</b>: <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/06-Breakout-3-Lesson-Infrastructure/Abstract.md">Lesson Infrastructure: how can we make it easier to develop and contribute to lessons?</a><br \>
                  <em>François Michonneau</em></td>
                <td>TBA</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>3:35-4:05 pm</td>
                <td>Break</td>
                <td>TBA</td>
              </tr>
              <tr>
                <td rowspan="3">Wednesday</td>
                <td rowspan="3">4:05-4:30 pm</td>
                <td><b><a href="https://github.com/carpentries/carpentrycon/tree/master/Sessions/2018-05-30/07-Lightning-Talks-Session-1">Lightning Talks 1</a></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b><a href="https://github.com/carpentries/carpentrycon/tree/master/Sessions/2018-05-30/08-Lightning-Talks-Session-2">Lightning Talks 2</a></b></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b><a href="https://github.com/carpentries/carpentrycon/tree/master/Sessions/2018-05-30/09-Lightning-Talks-Session-3">Lightning Talks 3</a></b></td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td rowspan="3">Wednesday</td>
                  <td rowspan="3">4:30-5:30 pm</td>
                  <td><b>Breakout 4</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/10-Breakout-4-Incubating-A-Carpentry/Abstract.md">Incubating a Carpentry: Library Carpentry</a>
                    <br \>
                   <em>Tim Dennis, Belinda Weaver, Mark Laufersweiler</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 5</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/11-Breakout-5-Making-The-Case-For-Membership/Abstract.md">Making the Case for Membership</a> <br \>
                    <em>Jonah Duckles, Elizabeth Williams</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 6</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/12-Breakout-6-Diversity-And-Inclusion/Abstract.md">Diversity and Inclusion</a><br \>
                    <em>Malvika Sharan, Kari Jordan</em></td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Wednesday</td>
                  <td>6:00-8:00 pm</td>
                  <td><h4><a href="https://github.com/carpentries/carpentrycon/tree/master/Sessions/2018-05-30/13-Poster-Session">Poster Reception</a></h4><br>Includes <b>The State of the Carpentries</b> address<br \>
                    by <em>Tracy Teal</em>, Executive Director, The Carpentries</td>
                  <td>TBA</td>
                </tr>
              </tbody>
            </table>
        </div>





          <h4><a href="https://github.com/carpentries/carpentrycon/tree/master/Sessions/2018-05-31">Thursday, 31 May</a></h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Event</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody class="table-striped">
                <tr>
                  <td>Thursday</td>
                  <td>8:30-9:00 am</td>
                  <td>Coffee and networking</td>
                  <td>Foyer</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>9:15-10:20 am</td>
                <td><h4><em>Keynote</em> Professor Desmond Higgins</h4><br>
                  <em>The Clustal Package Since the Late 1980s: Carpentry with Duct Tape and Six Inch Nails</em><br \>
                  <small>Includes question time</small></td>
                <td>George Moore Auditorium</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>10:20-10.50 am</td>
                  <td>Break</td>
                  <td>Foyer</td>
                </tr>

                <tr>
                  <td rowspan="3">Thursday</td>
                  <td rowspan="3">11:00 am-12:00 noon</td>
                  <td><b>Skill-Up 4:</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-31/01-Skill-Up-4-Leading-A-Research-Lab/Abstract.md">Leading a Research Lab</a><br \>
                    <em>Kate Hertweck</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Skill-Up 5:</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-31/02-Skill-Up-5-Creating-And-Registering-A-Carpentry-Event-Website/Abstract.md">Creating and Registering a Carpentry Event Website</a><br \>
                    <em>Elizabeth Wickes, Aleksandra Nenadic</a></em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Skill-Up 6:</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-31/03-Skill-Up-6-Shell-Tips-And-Tricks/Abstract.md">Shell Tips and Tricks</a><br \>
                  <em>Open Mic Session - Bring Your Ideas</em></td>
                  <td>TBA</td>
                </tr>


                <tr>
                  <td rowspan="2">Thursday</td>
                  <td rowspan="2">12:00-12:30 pm</td>
                  <td>Workshop Pitches<br \>
                  <em>Open Mic Session - Bring your Ideas to be Voted On</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td>Q&A on <b>The State of the Carpentries</b> address</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>12:30-1:30 pm</td>
                  <td>Lunch</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>1:30-2:35 pm</td>
                  <td><h4><em>Keynote</em> Anelda van der Walt</h4><br>
                    <em>It Takes a Village</em><br \>
                    <small>Includes question time</small></td>
                  <td>George Moore Auditorium</td>
                </tr>

                <tr>
                  <td rowspan="3">Thursday</td>
                  <td rowspan="3">2:35-3:35 pm</td>
                  <td><b>Breakout 7</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-31/04-Breakout-7-Community-Building/Abstract.md">Community Building: "You Belong in the Carpentries"</a><br \>
                    <em>Belinda Weaver</em> (lead), <em>Malvika Sharan</em> (facilitator), community discussion</td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 8</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-31/05-Breakout-8-HPC-Carpentry/Abstract.md">HPC Carpentry</a><br \>
                    <em>Daniel Smith, Alan O'Cais</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 9</b> Open Mic Session<br \>
                  <em>Open - bring your ideas</em</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>3:35-4:05 pm</td>
                  <td>Break</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td rowspan="3">Thursday</td>
                  <td rowspan="3">4:05-4:30 pm</td>
                  <td><b><A href="https://github.com/carpentries/carpentrycon/tree/master/Sessions/2018-05-31/07-Lightning-Talks-Session-4">Lightning Talks 4</a></b></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b><a href="https://github.com/carpentries/carpentrycon/tree/master/Sessions/2018-05-31/08-Lightning-Talks-Session-5">Lightning Talks 5</a></b></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b><a href="https://github.com/carpentries/carpentrycon/tree/master/Sessions/2018-05-31/09-Lightning-Talks-Session-6">Lightning Talk 6</a></b></td>
                  <td>TBA</td>
                </tr>


                <tr>
                  <td rowspan="3">Thursday</td>
                  <td rowspan="3">4:30-5:30 pm</td>
                  <td><b>Breakout 10</b> Voted Session</td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 11</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-31/11-Breakout-11-Fostering-FAIR-Data-And-Sustainable-Software-Practices/Abstract.md">Fostering FAIR Data and Sustainable Software Practices </a><br \>
                    <em>Berenice Batut, Katrin Leinweber</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 12</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-31/12-Breakout-12-Mentoring/Abstract.md">Mentoring</a><br \>
                    <em>Kari Jordan, Toby Hodges </em></td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>6:30-10:00 pm</td>
                  <td><h4>Conference Dinner</h4></td>
                  <td>TBA</td>
                </tr>
              </tbody>
            </table>
          </div>

          <h4><a href="https://github.com/carpentries/carpentrycon/tree/master/Sessions/2018-06-01">Friday, 1 June</a></h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Event</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody class="table-striped">

                <tr>
                  <td rowspan="4">Friday</td>
                  <td rowspan="4">9:00 am-12:30 pm</td>
                  <td><b>Workshop 1</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-06-01/01-Workshop-1-Bring-And-Build-Your-Own-Lesson-Carpentries-style/Abstract.md">Bring and Build Your Own Lesson 'Carpentries-style'</a><br \>
                    <em>Raniere Silva</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Workshop 2</b> Lesson Hack-a-Thon/Voted Session from Pitches/Sponsored Workshop</td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Workshop 3</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-06-01/03-Workshop-3-Ally-Workshop-With-Valerie-Aurora/Abstract.md">Ally Workshop</a> (Numbers capped at 30 participants)<br \>
                    <em>Valerie Aurora</em></td>
                  <td>TBA</td>
                </tr>
                                <tr>
                  <td><b>Birds of A Feather</b> <br \>
                    <em>Open sessions - find people to discuss your issue - rooms available</em></td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Friday</td>
                  <td>12:30 pm-1:30 pm</td>
                  <td>Lunch</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td rowspan="4">Friday</td>
                  <td rowspan="4">1:30 pm-4:30pm</td>
                  <td><b>Workshop 4</b>: <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-06-01/04-Workshop-4-Next-Steps-R/Abstract.md">Next Steps in R</a> (Numbers capped at 40 participants)<br \>
                    <em>Danielle Quinn, François Michonneau</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Workshop 5</b>: <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-06-01/05-Workshop-5-HPC-Carpentry/Abstract.md">HPC Carpentry</a> (Numbers capped at 30 participants)<br \>
                    <em>Peter Steinbach, Christina Koch</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Workshop 6</b>: <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-06-01/06-Worksho-6-Library-Carpentry/Abstract.md">Library Carpentry Onboarding</a><br \>
                    <em>Tim Dennis, Belinda Weaver, Mark Laufersweiler, Chris Erdmann</em></td>
                  <td>TBA</td>
                </tr>
                                <tr>
                  <td><b>Birds of A Feather</b> <br \>
                    <em>Open sessions - find people to discuss your issue - rooms available</em></td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Friday</td>
                  <td>4:30 pm-5:00pm</td>
                  <td><h4>Conference Close and Feedback Session</h4></td>
                  <td>TBA</td>
                </tr>

              </tbody>
            </table>
            </div>

          </div>


        </div>
      </div>
    </section>
