<!-- Program Section -->
<section id="prog">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2 style="text-align:center;">Draft CarpentryCon 2018 Program</h2>
        <p class="text" style="text-align:center;">This is our draft program. Spaces are still open for posters and lightning talks. <a href="https://carpentries.typeform.com/to/AImKAG">Submit your abstract here.</a> </p>

       
        <h4>Wednesday, 30 May</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Day</th>
                <th>Time</th>
                <th>Event</th>
                <th>Location</th>
              </tr>
            </thead>
            <tbody class="table-striped">
              <tr>
                <td>Wednesday</td>
                <td>8:15-9:00 am</td>
                <td>Registration</td>
                <td>Foyer</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>9:00-9:20 am</td>
                <td style="font-weight: 700;"> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/00-Icebreaker-Story-Circles.md">Story Circle Icebreaker</a></td>
                <td>Foyer</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>9:20-9:30 am</td>
                <td><strong>Welcome to Conference</strong></td>
                <td>TBA</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>9:40-10:45 am</td>
                  <td><b>Keynote</b> Valerie Aurora<br>
                   <em>Focus on Allies</em><br \>
                    <small>Includes question time</small></td>
                  <td>George Moore Auditorium</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>10:45-11:30 am</td>
                <td>Morning break and networking</td>
                <td>Foyer</td>
              </tr>

              <tr>
                <td rowspan="3">Wednesday</td>
                <td rowspan="3">11:30-12:30 am</td>
                <td><b>Skill-Up 1</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/01-Skill-Up-1-Project-Leadership/Abstract.md">Project Leadership</a> <br \>
                  <em>Fotis Psomopoulos /community contributions</em></td>
                <td>TBA</td>
              </tr>
              <tr>
                <td><b>Skill-Up 2</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/02-Skill-Up-2-Speaking-Effectively/Abstract.md">Speaking Effectively</a><br \>
                  <em>Belinda Weaver</em></td>
                <td>TBA</td>
              </tr>
              <tr>
                <td><b>Skill-Up 3</b> Contributing on GitHub<br \>
                  <em>Raniere Silva, François Michonneau</em></td>
                <td>TBA</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>12:30-1:30 pm</td>
                <td><b>Lunch</b></td>
                <td>TBA</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>1:30-2:35 pm</td>
                <td><b>Keynote</b>: Greg Wilson<br>
                 <em>Late Night Thoughts on Listening to Ike Quebec</em><br \>
                  <small>Includes question time</small></td>

                <td>George Moore Auditorium</td>
              </tr>

              <tr>
                <td rowspan="3">Wednesday</td>
                <td rowspan="3">2:35-3:35 pm</td>
                <td><b>Breakout 1</b>: <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/04-Breakout-1-Carpentry-Methods-In-University-Courses/Abstract.md">Carpentry Methods in University Courses</a><br |>
                  <em>Elizabeth Wickes, Lex Nederbragt</em></td>
                <td>TBA</td>
              </tr>
              <tr>
                <td><b>Breakout 2</b>: <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/05-Breakout-2-Chasing-Funding-For-Workshops/Abstract.md">Chasing Funding for Workshops</a><br \>
                  <em>SherAaron Hurt</em></td>
                <td>TBA</td>
              </tr>
              <tr>
                <td><b>Breakout 3</b>: <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/06-Breakout-3-Lesson-Infrastructure/Abstract.md">Lesson Infrastructure: how can we make it easier to develop and contribute to lessons?</a><br \>
                  <em>François Michonneau</em></td>
                <td>TBA</td>
              </tr>

              <tr>
                <td>Wednesday</td>
                <td>3:35-4:05 pm</td>
                <td>Break</td>
                <td>TBA</td>
              </tr>
              <tr>
                <td rowspan="3">Wednesday</td>
                <td rowspan="3">4:05-4:30 pm</td>
                <td><b>Lightning Talk 1</td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Lightning Talk 2</b></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Lightning Talk 3</b></td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td rowspan="3">Wednesday</td>
                  <td rowspan="3">4:30-5:30 pm</td>
                  <td><b>Breakout 4</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/10-Breakout-4-Incubating-A-Carpentry/Abstract.md">Incubating a Carpentry: Library Carpentry</a>
                    <br \>
                   <em>Tim Dennis, Belinda Weaver, Mark Laufersweiler</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 5</b> <a href="https://github.com/carpentries/carpentrycon/blob/master/Sessions/2018-05-30/11-Breakout-5-Making-The-Case-For-Membership/Abstract.md">Making the Case for Membership</a> <br \>
                    <em>Jonah Duckles, Elizabeth Williams</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 6</b> Diversity and Inclusion<br \>
                    <em>Malvika Sharan, Kari Jordan</em></td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Wednesday</td>
                  <td>6:00-8:00 pm</td>
                  <td><h4>Poster Reception</h4><br>Includes <b>The State of the Carpentries</b> address<br \>
                    by <em>Tracy Teal</em>, Executive Director, The Carpentries</td>
                  <td>TBA</td>
                </tr>
              </tbody>
            </table>
        </div>





          <h4>Thursday, 31 May</h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Event</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody class="table-striped">
                <tr>
                  <td>Thursday</td>
                  <td>8:30-9:00 am</td>
                  <td>Coffee and networking</td>
                  <td>Foyer</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>9:15-10:20 am</td>
                <td><b>Keynote</b> Professor Desmond Higgins<br>
                  <em>The Clustal Package Since the Late 1980s: Carpentry with Duct Tape and Six Inch Nails</em><br \>
                  <small>Includes question time</small></td>
                <td>George Moore Auditorium</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>10:20-10.50 am</td>
                  <td>Break</td>
                  <td>Foyer</td>
                </tr>

                <tr>
                  <td rowspan="3">Thursday</td>
                  <td rowspan="3">11:00 am-12:00 noon</td>
                  <td><b>Skill-Up 4</b>: Leading a Research Lab<br \>
                    <em>Kate Hertweck</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Skill-Up 5</b>: Creating and Registering a Carpentry Event Website<br \>
                    <em>Elizabeth Wickes, Aleksandra Nenadic</a></em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Skill-Up 6</b>: Shell Tips and Tricks<br \>
                  <em>Open Mic Session - Bring Your Ideas</em></td>
                  <td>TBA</td>
                </tr>


                <tr>
                  <td rowspan="2">Thursday</td>
                  <td rowspan="2">12:00-12:30 pm</td>
                  <td>Workshop Pitches<br \>
                  <em>Open Mic Session - Bring your Ideas to be Voted On</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td>Q&A on <b>The State of the Carpentries</b> address</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>12:30-1:30 pm</td>
                  <td>Lunch</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>1:30-2:35 pm</td>
                  <td><b>Keynote</b>: Anelda van der Walt<br><small>Includes question time</small></td>
                  <td>George Moore Auditorium</td>
                </tr>

                <tr>
                  <td rowspan="3">Thursday</td>
                  <td rowspan="3">2:35-3:35 pm</td>
                  <td><b>Breakout 7</b> Community Building: "You Belong in the Carpentries"<br \>
                    <em>Belinda Weaver</em> (lead), <em>Malvika Sharan</em> (facilitator), community discussion</td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 8</b> HPC Carpentry<br \>
                    <em>Daniel Smith, Alan O'Cais</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 9</b> Open Mic Session<br \>
                  <em>Open - bring your ideas</em</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>3:35-4:05 pm</td>
                  <td>Break</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td rowspan="3">Thursday</td>
                  <td rowspan="3">4:05-4:30 pm</td>
                  <td><b>Lightning Talk 4</b></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Lightning Talk 5</b></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Lightning Talk 6</b></td>
                  <td>TBA</td>
                </tr>


                <tr>
                  <td rowspan="3">Thursday</td>
                  <td rowspan="3">4:30-5:30 pm</td>
                  <td><b>Breakout 10</b> Voted Session</td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 11</b> Fostering FAIR Data and Sustainable Software Practices <br \>
                    <em>Berenice Batut, Katrin Leinweber</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Breakout 12</b> Mentoring<br \>
                    <em>Kari Jordan, Toby Hodges </em></td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Thursday</td>
                  <td>6:30-10:00 pm</td>
                  <td><h4>Conference Dinner</h4></td>
                  <td>TBA</td>
                </tr>
              </tbody>
            </table>
          </div>

          <h4>Friday, 1 June</h4>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                  <th>Event</th>
                  <th>Location</th>
                </tr>
              </thead>
              <tbody class="table-striped">

                <tr>
                  <td rowspan="3">Friday</td>
                  <td rowspan="3">9:00-12:30 pm</td>
                  <td><b>Workshop 1</b> Bring and Build Your Own Lesson 'Carpentries-style'<br \>
                    <em>Raniere Silva</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Workshop 2</b> Lesson Hack-a-Thon/Voted Session from Pitches/Sponsored Workshop</td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Workshop 3</b> <a href="https://frameshiftconsulting.com/ally-skills-workshop/">Ally Workshop</a><br \>
                    <em>Valerie Aurora</em></td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td>Friday</td>
                  <td>12:30-1:30 pm</td>
                  <td>Lunch</td>
                  <td>TBA</td>
                </tr>

                <tr>
                  <td rowspan="3">Friday</td>
                  <td rowspan="3">9:00-12:30 pm</td>
                  <td><b>Workshop 4</b>: <a href="https://carpentries.typeform.com/to/vph1Sd">Next Steps in R</a><br \>
                    <em>Danielle Quinn, François Michonneau</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Workshop 5</b>: HPC Carpentry<br \>
                    <em>Peter Steinbach, Christina Koch</em></td>
                  <td>TBA</td>
                </tr>
                <tr>
                  <td><b>Workshop 6</b>: Library Carpentry Onboarding<br \>
                    <em>Tim Dennis, Belinda Weaver, Mark Laufersweiler</em></td>
                  <td>TBA</td>
                </tr>


                <tr>
                  <td>Friday</td>
                  <td>4:30 pm-5:00pm</td>
                  <td><h4>Conference Close and Feedback Session</h4></td>
                  <td>TBA</td>
                </tr>

              </tbody>
            </table>
            </div>

          </div>


        </div>
      </div>
    </section>
