<section id="programme" class="grey">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            {% if page.title != site.programmeBlockTitle %}
                <h3>{{ site.programmeBlockTitle }}</h3>
            {% endif %}
            <p class="post-body text-left">
                This year we are using <a href="http://sched.com" target="_blank">Sched.com</a> to host our programme and associated
                materials on an interactive website and
                mobile app. Registered participants will have an account on Sched and will be able to personalise their
                programme.
                The programme outline will be published in due course.
                <!--The programme outline is available at <a href="https://cc2020.sched.com" target="_blank">https://cc2020.sched.com</a>.-->
            </p>
            <div>
                <a href="https://cc2020.sched.com" target="_blank"><img
                        src="{{ site.baseurl }}/img/other/sched-logo-horizontal-color-1024x418.png"
                        id="sched-image"></a>
            </div>
        </div>
    </div>
</section>