<section id="programme" class="grey">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            {% if page.title != site.programmeBlockTitle %}
            <h3>{{ site.programmeBlockTitle }}</h3>
            <p class="post-body text-left">
                Programme outline is now available <a href="{{ site.baseurl }}/programme/">online</a>.
            </p>
            <p class="post-body text-left">
                All details about the conference are also available in a <a href="https://github.com/carpentries/carpentrycon/blob/master/AtoZ_of_CarpentryCon.md" target="_blank">single 'A to Z' document</a>.
            </p>
            {% else %}
            <!--            <p class="post-body text-left">-->
            <!--                This year we are using <a href="http://sched.com" target="_blank">Sched.com</a> to host our programme and associated-->
            <!--                materials on an interactive website and-->
            <!--                mobile app. Registered participants will have an account on Sched and will be able to personalise their-->
            <!--                programme.-->
            <!--                The programme outline will be published in due course.-->
            <!--                &lt;!&ndash;The programme outline is available at <a href="https://cc2020.sched.com" target="_blank">https://cc2020.sched.com</a>.&ndash;&gt;-->
            <!--            </p>-->
            <!--            <div>-->
            <!--                <a href="https://cc2020.sched.com" target="_blank"><img-->
            <!--                        src="{{ site.baseurl }}/img/other/sched-logo-horizontal-color-1024x418.png"-->
            <!--                        id="sched-image"></a>-->
            <!--            </div>            -->
            <p class="post-body text-left">
                Programme outline is available below to help you orient yourself and plan your time at the conference. Please note the outline may be subject to (small) changes. Full programme will be published in due course.
            </p>
            <!-- programme tables --->
            <div class="row">
                <div class="col-lg-4">
                    <h5 class="text-left">Day 1</h5>
                    <div class="programme">
                        <div class="row">
                            <div class="col-sm-3">
                                8:15-9:00
                            </div>
                            <div class="col-sm-9">
                                Registration
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                9:00-9:10
                            </div>
                            <div class="col-sm-9">
                                Welcome to Conference
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                CarpentryCon Task Force
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                9:15-10:25
                            </div>
                            <div class="col-sm-9">
                                Keynote 1
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                10:25-10:45
                            </div>
                            <div class="col-sm-9">
                                Story Circle Icebreaker
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                10:45-11:30
                            </div>
                            <div class="col-sm-9">
                                Morning break and networking
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                11:30-12:30
                            </div>
                            <div class="col-sm-3">
                                Skill-Up 1
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Skill-Up 2
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Skill-Up 3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                12:30-13:30
                            </div>
                            <div class="col-sm-9">
                                Lunch
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                13:30-14:35
                            </div>
                            <div class="col-sm-9">
                                Keynote 2
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                14:35-15:35
                            </div>
                            <div class="col-sm-9">
                                Breakout 1
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Breakout 2
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Breakout 3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                15:35-16:05
                            </div>
                            <div class="col-sm-9">
                                Break
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                16:05-16:30
                            </div>
                            <div class="col-sm-9">
                                Lightning Talks 1
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Lightning Talks 2
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Lightning Talks 3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                16:30-17:30
                            </div>
                            <div class="col-sm-9">
                                Breakout 4
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Breakout 5
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Breakout 6
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                18:30-22:00
                            </div>
                            <div class="col-sm-9">
                                Conference Dinner
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <h5 class="text-left">Day 2</h5>
                    <div class="programme">
                        <div class="row">
                            <div class="col-sm-3">
                                8:30-9:00
                            </div>
                            <div class="col-sm-9">
                                Coffee and networking
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                9:15-10:20
                            </div>
                            <div class="col-sm-9">
                                Keynote 3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                10:20-10:50
                            </div>
                            <div class="col-sm-9">
                                Break
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                11:00-12:00
                            </div>
                            <div class="col-sm-9">
                                Skill-Up 4
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Skill-Up 5
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Skill-Up 6
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                12:00-12:30
                            </div>
                            <div class="col-sm-9">
                                Workshop Pitches (Open Mic Sessions)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Q&amp;A
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                12:30-13:30
                            </div>
                            <div class="col-sm-9">
                                Lunch
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                13:30-14:35
                            </div>
                            <div class="col-sm-9">
                                Keynote 4
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                14:35-15:35
                            </div>
                            <div class="col-sm-9">
                                Breakout 7
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Breakout 8
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Breakout 9
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                15:35-16:05
                            </div>
                            <div class="col-sm-9">
                                Break
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                16:05-16:30
                            </div>
                            <div class="col-sm-9">
                                Lightning Talks 4
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Lightning Talks 5
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Lightning Talks 6
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                16:30-16:30
                            </div>
                            <div class="col-sm-9">
                                Breakout 10
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Breakout 11
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Breakout 12
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                18:30-20:30
                            </div>
                            <div class="col-sm-9">
                                Poster Reception
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <h5 class="text-left">Day 3</h5>
                    <div class="programme">
                        <div class="row">
                            <div class="col-sm-3">
                                9:00-12:30
                            </div>
                            <div class="col-sm-9">
                                Workshop 1
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Workshop 2
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Workshop 3
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Birds of A Feather
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Open Sessions - find people to discuss your issue - rooms available
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                12:30-13:30
                            </div>
                            <div class="col-sm-9">
                                Lunch
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                13:30-16:30
                            </div>
                            <div class="col-sm-9">
                                Workshop 4
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Workshop 5
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Workshop 6
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Birds of A Feather
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-9">
                                Open Sessions - find people to discuss your issue - rooms available
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                16:30-17:00
                            </div>
                            <div class="col-sm-9">
                                Conference Close and Feedback Session
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endif %}
        </div>
    </div>
</section>