<!-- Program Section -->
    <section id="prog" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <center><h2>CarpentryCon 2018 Program</h2></center>
         <style>
table, th, td {
    border: 1px solid black;
table {
    border-spacing: 5px;
}
}
th, td {
    padding: 10px;
}
                    </style>

    <table width="100%">
          <caption><h4>Tuesday, 29 May</h4></caption>
 <tr>
      <th valign="top" width = "150px">Day</th>
      <th valign="top" width = "150px">Time</th>
      <th valign="top">Event</th>
      <th valign="top">Location</th>
  </tr>
  <tr>
    <td valign="top">Tuesday</td>
    <td valign="top">6:00-8:00 pm</td>
    <td valign="top"><h4>Welcome Reception</h4></td>
    <td valign="top">TBA</td>
  </tr>
    
    </table>
                    

                    
<table width="100%">    
          <caption><h4>Wednesday, 30 May</h4></caption>
 <tr>
      <th valign="top" width = "150px">Day</th>
      <th valign="top" width = "150px">Time</th>
      <th valign="top">Event</th>
      <th valign="top">Location</th>
  </tr>
    
  <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">8:15-9:00 am</td>
    <td valign="top">Registration</td>
    <td valign="top">Foyer</td>
  </tr>

  <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">9:00-9:20 pm</td>
    <td valign="top"><strong>Bingo Cards Icebreaker</strong></td>
    <td valign="top">Foyer</td>
  </tr>

  <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">9:20-9:30 pm</td>
    <td valign="top">Welcome to Conference</td>
    <td valign="top">TBA</td>
  </tr>

  <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">9:40-10:45 pm</td>
    <td valign="top"><strong>Keynote</strong>: Professor Desmond Higgins<br \>Includes question time<br \></td>
    <td valign="top">TBA</td>
  </tr>

  <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">10:45-11:30 pm</td>
    <td valign="top">Morning break and networking</td>
    <td valign="top">TBA</td>
  </tr>

  <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">11:30-12:30 pm</td>
    <td valign="top"><strong>Skill-Up 1</strong>: Project Leadership<br \><strong>Skill-Up 2</strong>: Speaking Effectively<br \><strong>Skill-Up 3</strong>: Contributing on GitHub</td>
    <td valign="top">TBA<br \>TBA<br \>TBA</td>
  </tr>

  <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">12:30-1:30 pm</td>
    <td valign="top"><strong>Lunch</strong></td>
    <td valign="top">TBA</td>
  </tr>
    
      <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">1:30-2:35 pm</td>
    <td valign="top"><strong>Keynote</strong>: Greg Wilson<br \>Includes question time<br \></td>
    <td valign="top">TBA</td>
  </tr>
    
          <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">2:35-3:35 pm</td>
    <td valign="top"><strong>Breakout 1</strong>: Carpentry methods in university courses<br \><strong>Breakout 2</strong>: Chasing Funding for workshops<br \><strong>Breakout 3</strong>: Lesson infrastructure: how can we make it easier to develop and contribute to lessons?</td>
    <td valign="top">TBA<br \>TBA<br \>TBA</td>
  </tr>
    
              <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">3:35-4:05 pm</td>
    <td valign="top">Break</td>
    <td valign="top">TBA</td>
  </tr>
              <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">4:05-4:30 pm</td>
    <td valign="top"><strong>Lightning Talk 1</strong><br \><strong>Lightning Talk 2</strong><br \><strong>Lightning Talk 3</strong></td>
    <td valign="top">TBA<br \>TBA<br \>TBA</td>
  </tr>
    
              <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">4:30-5:30 pm</td>
    <td valign="top"><strong>Breakout 4</strong>: Incubating a Carpentry: the Library Carpentry use-case<br \><strong>Breakout 5</strong>: Making the Case for Membership<br \><strong>Breakout 6</strong>: Diversity and Inclusion</td>
    <td valign="top">TBA<br \>TBA<br \>TBA</td>
  </tr>
    
                  <tr>
    <td valign="top">Wednesday</td>
    <td valign="top">6:00-8:00 pm</td>
    <td valign="top"><h4>Poster Reception</h4></td>
    <td valign="top">TBA</td>
  </tr>
    
</table>
                 
                     
    <table width="100%">
<caption><h4>Thursday, 31 May</h4></caption>
      <tr>
      <th valign="top" width = "150px">Day</th>
      <th valign="top" width = "150px">Time</th>
      <th valign="top">Event</th>
      <th valign="top">Location</th>
  </tr>
    
  <tr>
    <td valign="top">Thursday</td>
    <td valign="top">8:30-9:00 am</td>
    <td valign="top">Coffee and networking</td>
    <td valign="top">Foyer</td>
  </tr>

  <tr>
    <td valign="top">Thursday</td>
    <td valign="top">9:15-10:20 am</td>
    <td valign="top"><strong>Keynote</strong>: Anelda van der Walt<br \>Includes question time<br \></td>
    <td valign="top">TBA</td>
  </tr>

  <tr>
    <td valign="top">Thursday</td>
    <td valign="top">10:20-10.50 am</td>
    <td valign="top">Break</td>
    <td valign="top">Foyer</td>
  </tr>

  <tr>
    <td valign="top">Thursday</td>
    <td valign="top">11:00 am-12:00 noon</td>
    <td valign="top"><strong>Skill-Up 4</strong>: Leading a Research Lab<br \><strong>Skill-Up 5</strong>: Creating and Registering a Carpentry Event Website<br \><strong>Skill-Up 6</strong>: Shell Tips and Tricks</td>
    <td valign="top">TBA<br \>TBA<br \>TBA</td>
  </tr>

  <tr>
    <td valign="top">Thursday</td>
    <td valign="top">12:00-12:30 pm</td>
    <td valign="top">Workshop Pitches</td>
    <td valign="top">TBA</td>
  </tr>

  <tr>
    <td valign="top">Thursday</td>
    <td valign="top">12:30-1:30 pm</td>
    <td valign="top">Lunch</td>
    <td valign="top">TBA</td>
  </tr>
    
      <tr>
    <td valign="top">Thursday</td>
    <td valign="top">1:30-2:35 pm</td>
    <td valign="top"><strong>Keynote</strong>: TBA<br \>Includes question time<br \></td>
    <td valign="top">TBA</td>
  </tr>
    
          <tr>
    <td valign="top">Thursday</td>
    <td valign="top">2:35-3:35 pm</td>
    <td valign="top"><strong>Breakout 7</strong>: Community Building<br \><strong>Breakout 8</strong>: HPC Carpentry<br \><strong>Breakout 9</strong>: Overcoming Unconscious Bias</td>
    <td valign="top">TBA<br \>TBA<br \>TBA</td>
  </tr>
    
              <tr>
    <td valign="top">Thursday</td>
    <td valign="top">3:35-4:05 pm</td>
    <td valign="top">Break</td>
    <td valign="top">TBA</td>
  </tr>
              <tr>
    <td valign="top">Thursday</td>
    <td valign="top">4:05-4:30 pm</td>
    <td valign="top"><strong>Lightning Talk 4</strong><br \><strong>Lightning Talk 5</strong><br \><strong>Lightning Talk 6</strong></td>
    <td valign="top">TBA<br \>TBA<br \>TBA</td>
  </tr>
    
              <tr>
    <td valign="top">Thursday</td>
    <td valign="top">4:30-5:30 pm</td>
    <td valign="top"><strong>Breakout 10</strong>: Taking the Carpentries to Industry<br \><strong>Breakout 11</strong>: Fostering FAIR Data and Sustainable Software Practices<br \><strong>Breakout 12</strong>: Mentoring</td>
    <td valign="top">TBA<br \>TBA<br \>TBA</td>
  </tr>
    
                  <tr>
    <td valign="top">Thursday</td>
    <td valign="top">6:30-10:00 pm</td>
    <td valign="top"><h4>Conference Dinner</h4></td>
    <td valign="top">TBA</td>
  </tr>
</table> 
                
                
                    
    <table width="100%">
        <caption><h4>Friday, 1 June</h4></caption>
              <tr>
      <th valign="top" width = "150px">Day</th>
      <th valign="top" width = "150px">Time</th>
      <th valign="top">Event</th>
      <th valign="top">Location</th>
  </tr>
        
                      <tr>
    <td valign="top">Friday</td>
    <td valign="top">9:00-12:30 pm</td>
    <td valign="top"><strong>Workshop 1</strong>: Bring and Build Your Own Lesson 'Carpentries-style'<br \><strong>Workshop 2</strong>: Lesson Hack-a-Thon<br \><strong>Workshop 3</strong>: Raising Money From Foundations</td>
    <td valign="top">TBA<br \>TBA<br \>TBA</td>
                          <tr>
                          
                            <tr>
    <td valign="top">Friday</td>
    <td valign="top">12:30-1:30 pm</td>
    <td valign="top">Lunch</td>
    <td valign="top">TBA</td>
  </tr>
                             <tr>
    <td valign="top">Friday</td>
    <td valign="top">1:30-4:30 pm</td>
    <td valign="top"><strong>Workshop 4</strong>: Advanced R <br \><strong>Workshop 5</strong>: HPC Carpentry<br \><strong>Workshop 6</strong>: Strategies for How you Code/How to Code</td>
    <td valign="top">TBA<br \>TBA<br \>TBA</td>
       
  </tr>                             
        <tr>
    <td valign="top">Friday</td>
    <td valign="top">4:30 pm-5:00pm</td>
    <td valign="top"><h4>Conference Close and Feedback</h4></td>
    <td valign="top">TBA</td>
                          </tr>

</table> 
          
                          </div>
            </div>
        </div>
    </section>
