<!-- Begin Schedule Section -->


<section id="schedule">

    <div class="content-wrapper">

        <div class="col-lg-10 col-lg-offset-1">

        <div class = "text-left">
            <p>
                <h6>This calendar lists all of the sessions scheduled for CarpentryCon 2022. </h6>
            </p>
            <p>The default is a list view of sessions, but you can also toggle to a calendar view. Times will display in your time zone. In the title of each session:</p>
                

                <ul class="list_bigger_font">
                    <li>R indicates that the session has an attendance cap and requires separate registration in addition to <a href="https://www.eventbrite.com/e/carpentrycon-2022-tickets-360012566277">general registration</a>. A link to register is available in the event link. </li>
                    <li>An asterisk (*) indicates that the session is repeated. The additional times available are listed in the event link. </li>
                    <li>ES indicates a session presented in Spanish and EN indicates a session presented in English. ES/EN indicates a session with presentations in both languages. All sessions will include English captioning and may include additional translation services as requested through registration.</li>
                </ul>


             <p>If you have any questions about the program, please email <a href="mailto:carpentrycon@carpentries.org">carpentrycon@carpentries.org</a>.</p>
        </div>

        <br><br>


        <div id='calendar' markdown="0"></div>

        <hr>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
        
        <script type="text/javascript">
        var timezone = jstz.determine();
        const frame = document.createElement('iframe');
        frame.style = 'border-width: 0';
        frame.width = '1000';
        frame.height = '800';
        frame.frameborder = '0';
        frame.scrolling = 'yes';
        frame.src = 'https://calendar.google.com/calendar/embed?title=CarpentryCon%202022&mode=AGENDA&dates=20220801/20220805&src=c_tmtrkf328gjtcs1u05mhfbn7qc%40group.calendar.google.com&ctz=' + timezone.name();
        document.getElementById('calendar').appendChild(frame);
        </script>


</div>
</section>
