<!-- Begin Schedule Section -->


<section id="schedule" class="schedule">

    <div class="content-wrapper">

        <div class="col-lg-10 col-lg-offset-1">
            <h3>CarpentryCon 2022 Schedule</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">
                <h6>Shortbread liquorice lollipop candy canes bonbon marzipan icing. Pie gingerbread shortbread macaroon jelly topping pastry. Icing cake pie chocolate cake danish cheesecake dragée lemon drops powder. </h6>
            </p>
            <p>Jelly-o brownie donut bear claw donut. Dessert chocolate bar muffin bonbon gummi bears sesame snaps biscuit biscuit. Sweet roll dessert gingerbread wafer fruitcake cheesecake. Croissant chupa chups icing chocolate cheesecake wafer. Tiramisu topping cheesecake sesame snaps tootsie roll macaroon sugar plum chupa chups shortbread. </p>
        </div>

        <br><br>


        <div id='calendar' markdown="0"></div>

        <hr>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
        
        <script type="text/javascript">
        var timezone = jstz.determine();
        const frame = document.createElement('iframe');
        frame.style = 'border-width: 0';
        frame.width = '1000';
        frame.height = '800';
        frame.frameborder = '0';
        frame.scrolling = 'yes';
        frame.src = 'https://calendar.google.com/calendar/embed?title=CarpentryCon%202022&mode=AGENDA&dates=20220801/20220805&src=c_tmtrkf328gjtcs1u05mhfbn7qc%40group.calendar.google.com&ctz=' + timezone.name();
        document.getElementById('calendar').appendChild(frame);
        </script>


</div>
</section>