<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conference Format</h2>
                    <h3 class="section-subheading text-muted"><em>Building Locally, Connecting Globally</em></h3> 
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workshops</h4>
                    <p class="text-muted">We will offer a series of practical, hands-on skill-ups, workshops and breakout sessions to teach essential skills around coding, leading projects, community organization, curriculum development and other professional development 'must-haves'. We will have a 'come and learn' format different from most conferences. <br \> <a href="https://docs.google.com/forms/d/e/1FAIpQLSf240S9YQmd1y0z3uc0PuWDSzXKDC3DG-WYYQjURWpdWkk1SA/viewform">Tell us what sessions you want</a>.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Networking Events</h4>
                    <p class="text-muted">There will be a series of social and other events, including a welcome reception, a poster session, and other events to foster networking. Attendees will have lots of opportunities to come together informally to share stories about challenges and successes.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-commenting fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community Building</h4>
                    <p class="text-muted">Member organizations, local Champions, Carpentries' advocates, and staff will talk about ways to build communities all around the world. Hear from local Champions about tried and tested methods for building strong local communities. Pitch your own community building ideas for discussion in CarpentryCon's 'unconference' section.</p>
                </div>        </div>
        </div>
    </section>
