<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Conference Format</h2>
                    <h3 class="section-subheading text-muted"><em>See accommodation options <a href="https://software-carpentry.org/blog/2018/02/carpentrycon-accomm.html">here</a>.</em></h3> 

                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workshops</h4>
                    <p class="text-muted">We will offer a series of practical, hands-on skill-ups, workshops and breakout sessions to teach essential skills around coding, leading projects, community organization, curriculum development and other professional development 'must-haves'.  <br \> <a href="http://www.carpentrycon.org/#prog">Check out the draft program</a>. You can <a href="https://www.eventbrite.com/e/carpentrycon-2018-tickets-42447719271">register to attend</a>.<br \> <a href="https://carpentries.typeform.com/to/AImKAG">Submit an abstract for a lightning talk or poster</a>. You can ask for travel assistance <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbBHzZk-xEOHV5v3Zpd_QiZOEVrFouAwArkG5xvoDaK2fyCQ/viewform">here</a>.</p></div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Networking Events</h4>
                    <p class="text-muted">There will be a series of social and other events, including a poster reception and a dinner, and other events to foster networking, especially among Instructors who might want to share workshop and teaching tips. Attendees will have lots of opportunities to come together informally to share stories about challenges and successes.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-commenting fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community Building</h4>
                    <p class="text-muted">Member organizations, local Champions, Carpentries' advocates, and staff will talk about ways to build communities all around the world. Hear from local Champions about tried and tested methods for building strong local communities. Pitch your own community building ideas for discussion in CarpentryCon's 'unconference' section.</p>
                </div>        </div>
        </div>
    </section>
