<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
            {% if page.title != site.sponsorsBlockTitle %}
                <h3>{{ site.sponsorsBlockTitle }}</h3>
            {% endif %}
            <p class="post-body">
              CarpentryCon 2020 planning is underway. It will only be possible with the generous support of businesses and foundations who support our mission of teaching foundational computational and data science skills to researchers to safeguard the future of sound, open, reproducible science.

              <br>
              <p>Read our blog on <a href="{{ site.baseurl }}/blog/become-a-sponsor">Why sponsor CarpentryCon 2020?</a></p>
              
              <h4>Sponsorship opportunities</h4>

              <p>There are many ways to support CarpentryCon 2020!</p>

              <br>

	      <p><strong>Reserve your sponsorship and connect with the OpenCon organizers. Contact us at <a mailto="carpentrycon@carpentries.org">carpentrycon@carpentries.org</a> to discuss the options.</strong>
              </p>

             <hr>

             <h5>Category 1: Sponsorship Levels</h5>
	     <div class="row">
	     <div class="col-sm-6">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/peta-sponsor"><img src="{{ site.baseurl }}/img/favicons/android-icon-36x36.png" alt="" width="20" height="20"> Peta Sponsor</a></strong></h6>
              <p>Level of support: $50,000 and up</p>
              <p>Benefits</p>
              <ul>
              <li>Name and logo on The Carpentries Website</li>
              <li>Name and logo on Main CarpentryCon Webpage</li>
              <li>Name and logo prominently displayed on the Sponsorship page of the CarpentryCon Website as a Peta-Sponsor</li>
              <li>Registration for 3 staff/affiliates to attend CarpentryCon 2020</li>
              <li>5-minute address to the conference from the main stage</li>
              <li>Statement of thanks at beginning of conference</li>
              <li>Acknowledgement in The Carpentries blog/newsletter</li>
              <li>Logo placement alongside Carpentries logo on swag bag</li>
              <li>Get their unique #hashtag to accompany every count-down tweet from the 50th (nth) count-down</li> 
	      <li>Name and logo displayed during Welcome</li>
              <li>Vendor booth</li>
	      </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/peta-sponsor">See full details &gt;</a></p>

             </div>
	     <div class="col-sm-6">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/tera-sponsor"><img src="{{ site.baseurl }}/img/favicons/android-icon-36x36.png" alt="" width="20" height="20"> Tera Sponsor</a></strong></h6>
              <p>Level of support: $25,000</p>
              <p>Benefits</p>
              <ul>
              <li>Name and logo on Main CarpentryCon Webpage</li>
              <li>Name prominently displayed on the Sponsorship page of the CarpentryCon Website as a Tera-Sponsor</li>
              <li>Registration for 2 staff/affiliates to attend CarpentryCon 2020</li>
              <li>Statement of thanks at beginning of conference</li>
              <li>Logo placement alongside Carpentries logo on swag bag</li>
	      </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/tera-sponsor">See full details &gt;</a></p>
             </div>
	     </div>
	     <div class="row">
	     <div class="col-sm-6">

             <h6><strong><a href="{{ site.baseurl }}/sponsor/giga-sponsor"><img src="{{ site.baseurl }}/img/favicons/android-icon-36x36.png" alt="" width="20" height="20"> Giga Sponsor</a></strong></h6>
              <p>Level of support: $10,000</p>
              <p>Benefits</p>
              <ul>
              <li>Name prominently displayed on the Sponsorship page of the CarpentryCon Website as a Giga-Sponsor</li>
              <li>Registration for 1 staff/affiliate to attend CarpentryCon 2020</li>
              <li>Statement of thanks at beginning of conference</li>
	      </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/giga-sponsor">See full details &gt;</a></p>
	     </div>
	     <div class="col-sm-6">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/mega-sponsor"><img src="{{ site.baseurl }}/img/favicons/android-icon-36x36.png" alt="" width="20" height="20"> Mega Sponsor</a></strong></h6>
              <p>Level of support: $5,000</p>
              <p>Benefits</p>
              <ul>
              <li>Name prominently displayed on the Sponsorship page of the CarpentryCon Website as a Mega-Sponsor</li>
              <li>50% off for 1 staff/affiliate registration to attend CarpentryCon 2020</li>
              <li>Statement of thanks at beginning of conference</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/mega-sponsor">See full details &gt;</a></p>
             </div>
	     </div>

             <hr>

             <h5>Category 2: A-la-carte Sponsorship Opportunities</h5>
	     <div class="row">
	     <div class="col-sm-6">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/reception-sponsor"><img src="{{ site.baseurl }}/img/sponsor/welcome.png" alt="" width="20" height="20"> Welcome Reception Sponsor</a></strong></h6>
              <p>Level of support: $5,000</p>
              <p>Number of possible sponsors: 1 </p>
              <p>Benefits</p>
              <ul>
              <li>Event named after them in the program</li>
              <li>Signs with their name and logo at the event</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/reception-sponsor">See full details &gt;</a></p>
	     </div>
	     <div class="col-sm-6">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/ice-sponsor"><img src="{{ site.baseurl }}/img/sponsor/ice-breaker.png" alt="" width="20" height="20"> Ice Breaker Sponsor</a></strong></h6>
              <p>Level of support: $2,000 or more in materials or services</p>
              <p>Number of possible sponsors: 1 </p>
              <p>Benefits</p>
              <ul>
              <li>Ice Breaker named after them in the program</li>
              <li>Sponsorship announced along with event</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/ice-sponsor">See full details &gt;</a></p>
	     </div>
	     </div>
	     <div class="row">
	     <div class="col-sm-6">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/coffee-sponsor"><img src="{{ site.baseurl }}/img/sponsor/coffee.png" alt="" width="20" height="20"> Coffee Break Sponsor</a></strong></h6>
              <p>Level of support: $1,500/ea</p>
              <p>Number of possible sponsors: 9 </p>
              <p>Benefits</p>
              <ul>
              <li>Named after sponsor in the program</li>
              <li>Sponsorship announced along with event</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/coffee-sponsor">See full details &gt;</a></p>
	     </div>
	     <div class="col-sm-6">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/lunch-sponsor"><img src="{{ site.baseurl }}/img/sponsor/lunch.png" alt="" width="20" height="20"> Lunch Sponsor</a></strong></h6>
              <p>Level of support: $5,000/ea</p>
              <p>Number of possible sponsors: 3 </p>
              <p>Benefits</p>
              <ul>
              <li>Named after sponsor in the program</li>
              <li>Logo displayed at the lunch</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/lunch-sponsor">See full details &gt;</a></p>
	     </div>
	     </div>
	     <div class="row">
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/dinner-sponsor"><img src="{{ site.baseurl }}/img/sponsor/dinner.png" alt="" width="20" height="20"> Conference Dinner</a></strong></h6>
              <p>Level of support: $15,000/ea</p>
              <p>Number of possible sponsors: 1 </p>
              <p>Benefits</p>
              <ul>
              <li>Named after sponsor in the program</li>
              <li>Logo displayed at the dinner</li>
              <li>Vendor/Sponsor table at no additional cost</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/dinner-sponsor">See full details &gt;</a></p>
	     </div>
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/poster-sponsor"><img src="{{ site.baseurl }}/img/sponsor/poster.png" alt="" width="20" height="20"> Poster Reception Sponsor</a></strong></h6>
              <p>Level of support: $1,500</p>
              <p>Number of possible sponsors: 1 </p>
              <p>Benefits</p>
              <ul>
              <li>Named after sponsor in the program</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
	      </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/poster-sponsor">See full details &gt;</a></p>
	     </div>
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/social-sponsor"><img src="{{ site.baseurl }}/img/sponsor/share.png" alt="" width="20" height="20"> Social Event Sponsor</a></strong></h6>
              <p>Level of support: $5,000/ea</p>
              <p>Number of possible sponsors: 1 </p>
              <p>Benefits</p>
              <ul>
              <li>Named after sponsor in the program</li>
              <li>Logo displayed at social event</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/social-sponsor">See full details &gt;</a></p>
	     </div>
	     </div>
	     <div class="row">
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/webcast-sponsor"><img src="{{ site.baseurl }}/img/sponsor/webcast.png" alt="" width="20" height="20"> WebsCast Sponsor (tie to diversity and inclusion)</a></strong></h6>
              <p>Level of support: $8,000</p>
              <p>Number of possible sponsors: 1 </p>
              <p>Benefits</p>
              <ul>
              <li>Verbal thank-you at the beginning of the conference</li>
              <li>Name on the CarpentryCon sponsorship page</li>
              <li>Thank you to sponsor on live streaming page</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/webcast-sponsor">See full details &gt;</a></p>
	     </div>
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/audio-sponsor"><img src="{{ site.baseurl }}/img/sponsor/speaker.png" alt="" width="20" height="20"> Audio-Visual Sponsor </a></strong></h6>
	      <p>In-house AV, microphones, projectors, etc…</p>
              <p>Level of support: $4,000</p>
              <p>Number of possible sponsors: 1 </p>
              <p>Benefits</p>
              <ul>
              <li>Verbal thank-you at the beginning of the conference</li>
              <li>Name on the CarpentryCon sponsorship page</li>
	      </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/audio-sponsor">See full details &gt;</a></p>
	     </div>
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/media-sponsor"><img src="{{ site.baseurl }}/img/sponsor/media.png" alt="" width="20" height="20"> Media Partnership Sponsor</a></strong></h6>
	      <p>Help publicize CarpentryCon before, during and after the event</p>
              <p>Level of support: $4,000</p>
              <p>Number of possible sponsors: 1 </p>
              <p>Benefits</p>
              <ul>
              <li>One free conference pass</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/media-sponsor">See full details &gt;</a></p>
	     </div>
	     </div>
	     <div class="row">
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/table-sponsor"><img src="{{ site.baseurl }}/img/sponsor/table.png" alt="" width="20" height="20"> Vendor Table Sponsor</a></strong></h6>
              <p>Level of support: $600/ea</p>
              <p>Number of possible sponsors: TBD </p>
              <p>Benefits</p>
              <ul>
              <li>Vendor/Sponsor table at no additional cost</li>
	      </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/table-sponsor">See full details &gt;</a></p>
	     </div>
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/career-sponsor"><img src="{{ site.baseurl }}/img/sponsor/career.png" alt="" width="20" height="20"> Career Fair Employer Pod Sponsor</a></strong></h6>
	      <p>Wall where anyone can advert a job offer</p>
              <p>Level of support: $600/ea</p>
              <p>Number of possible sponsors: TBD </p>
              <p>Benefits</p>
              <ul>
              <li>Name and logo on wall</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/career-sponsor">See full details &gt;</a></p>
	     </div>
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/diversity-sponsor"><img src="{{ site.baseurl }}/img/sponsor/diversity.png" alt="" width="20" height="20">Diversity/Broadening Participation Initiative Sponsor</a></strong></h6>
              <p>Level of support: open amount</p>
              <p>Number of possible sponsors: TBD </p>
              <p>Benefits</p>
              <ul>
              <li>Scholarships for specific groups decided by the sponsor that can be applied for</li>
              <li>Scholarships named after sponsor</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
	      </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/diversity-sponsor">See full details &gt;</a></p>
	     </div>
	     </div>
	     <div class="row">
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/green-sponsor"><img src="{{ site.baseurl }}/img/sponsor/green.png" alt="" width="20" height="20">Help us Go Green Sponsor</a></strong></h6>
	      <p>By implementing recycling (Eco-waste station), reduced-packaging and composting options</p>
              <p>Level of support: $1000/ea</p>
              <p>Number of possible sponsors: unlimited </p>
              <p>Benefits</p>
              <ul>
              <li>Name listed on the CarpentryCon sponsorship page</li>
	      </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/green-sponsor">See full details &gt;</a></p>

	     </div>
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/cup-sponsor"><img src="{{ site.baseurl }}/img/sponsor/cup.png" alt="" width="20" height="20"> Conference Cup Sponsor</a></strong></h6>
	      <p>Help us to be greener and distribute a recycle cup at the beginning of the conference for the breaks.</p>
              <p>Level of support: $700 (for 45-60 cups)</p>
              <p>Number of possible sponsors: 1 </p>
              <p>Benefits</p>
              <ul>
              <li>Name listed on the CarpentryCon sponsorship page</li>
	      </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/cup-sponsor">See full details &gt;</a></p>

	     </div>
	     <div class="col-sm-4">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/tshirt-sponsor"><img src="{{ site.baseurl }}/img/sponsor/tshirt.png" alt="" width="20" height="20"> Conference Volunteer T-Shirts Sponsor</a></strong></h6>
              <p>Level of support: $1,500 (for about 200 T-shirts)</p>
              <p>Number of possible sponsors: 1 </p>
              <p>Benefits</p>
              <ul>
              <li>Special thank you during the opening</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/tshirt-sponsor">See full details &gt;</a></p>
             </div> 
             </div> 

             <hr>

             <h5>Category 3: Open Contribution Sponsorship (any amount accepted)</h5>
	     <div class="row">
 
	     <div class="col-sm-6">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/financial-sponsor"><img src="{{ site.baseurl }}/img/favicons/android-icon-36x36.png" alt="" width="20" height="20"> Financial Aid Contribution</a></strong></h6>
	      <p>It could include anything needed for people to travel and attend the conference: visa application fees, registration, ground travel, air travel, meals, lodging, etc…</p>
              <p>Benefits</p>
              <ul>
              <li>Benefits are similar to the above depending on the value</li>
              <li>Name listed on the CarpentryCon sponsorship page (no matter the amount donated)</li>
	      </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/financial-sponsor">See full details &gt;</a></p>
	     </div>
	     <div class="col-sm-6">
             <h6><strong><a href="{{ site.baseurl }}/sponsor/general-sponsor"><img src="{{ site.baseurl }}/img/favicons/android-icon-36x36.png" alt="" width="20" height="20"> General Fund Contribution</a></strong></h6>
              <p>It can be used for any portion of the conference.</p>
              <p>Benefits</p>
              <ul>
              <li>Benefits are similar to the above depending on the value</li>
              <li>Name listed on the CarpentryCon sponsorship page (no matter the amount donated)</li>
              </ul>
	      <p><a href="{{ site.baseurl }}/sponsor/general-sponsor">See full details &gt;</a></p>
            </p>
	    </div>
        </div>
        </div>
    </div>
</section>

