<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
            <h2 class="section-heading">CarpentryCon Sponsors</h2>


<h3>Venue Sponsor</h3>


<table>
    <tr>

        <td valign="top"><img height="50" width="50" src="../img/logos/ucd_logo.png"></td>
        <td valign="top"><a href="http://www.ucd.ie/">University College Dublin</a> is the venue for CarpentryCon 2018. <br \>We are very grateful for their generous support for this event.</td>
    </tr>


    
                </table>
       
                </div>
            </div>
        </div>
    </section>
