<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
            <h2 class="section-heading">CarpentryCon Sponsors</h2>


<h3>Current Sponsors</h3>


<table>
    <tr>
        <td valign="top">Venue Sponsor</td>
    </tr>
    <tr>
        <td valign="top"><img height="42" width="42" src="../img/logos/ucd_logo.png"></td>
        <td valign="top"><a href="http://www.ucd.ie/">University College Dublin</a></td>
    </tr>


    
                </table>
       
                </div>
            </div>
        </div>
    </section>
