<!-- Portfolio Grid Section -->
<section id="sponsorship" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <h2 class="section-heading">CarpentryCon 2020 Sponsorship</h2>

                <p class="text">CarpentryCon 2020 planning is underway. It will only be possible with the generous support of businesses and
                    foundations who support our mission of
                    teaching foundational computational and data science skills to researchers to safeguard the future
                    of sound, open, reproducible science. </p>

                <h2> Why sponsor CarpentryCon 2020?</h2>
                 <p class="text">CarpentryCon 2020 is the key networking and community-building
                    event of The Carpentries. Some of the brightest and most promising researchers and data scientists
                    from around the world will meet to network, to learn
                    about digital research tools, and the practice of reproducible, open science,
                    and to further develop the coding, communication and project management skills research and industry
                    are crying out for.</p>

                <p class="text">Without the support of sponsors who share our vision, we will not be able to deliver the
                    event our community needs.</p>
                <ul>
                    <li>Help us keep registration costs low so people aren't priced out of attending
                    <li>Help us maximise participation by people from diverse geographies and communities, including the
                        global South
                    <li>Help us provide travel scholarships to allow as wide an audience as possible to attend
                </ul>


                <p class="text">By supporting us, you will help skill up the next generation of research leaders, people
                    who will attend CarpentryCon  2020 to develop the skills needed to lead 21st century research, whether
                    that be in academia or industry.
                    This is a perfect opportunity to promote your products and services to these research leaders of the
                    future. In return, we can promise you a number of benefits. </p>


                <h3>Marketing</h3>

                <p class="text">Your name, your product, your service can all be part of our event marketing. Get your
                    logo on our website, our T-shirt, our poster, our conference slides, and on all our promotional
                    materials, including social media and email channels. Leading sponsors will get conference time to
                    air their messages, and will be able to send targeted emails to all delegates. </p>

                <h3>Expo</h3>

                <p class="text">We will provide exhibition space to allow you to showcase your offerings and network
                    with delegates during CarpentryCon 2020. You can demo products or services, give away
                    swag, and start some great conversations.</p>

                <h3>Our audience</h3>

                <p class="text">CarpentryCon 2020 diverse audience will include graduate students, early career
                    researchers, senior academics, lab and project leaders, software engineers, people in the tech
                    industry, and more. We expect people to come from all round the world to attend this signature
                    event.</p>

                <h3>Finding people to join your company</h3>

                <p class="text">Many graduate students and early career researchers make the jump from academia to
                    industry. What better place to find your next staffer than at CarpentryCon  2020 where people have come
                    along to grow and sharpen a diverse range of skills?</p>

                <!--
                                <h3>Meeting your needs</h3>

                                <p class="text">Not sure any of our packages work for you? We will tailor a sponsorship package that
                                    exactly fits your needs. All you have to do is ask!</p>
                -->
                </p>

                <h2>Sponsorship opportunities</h2>

                There are many ways to support CarpentryCon 2020 - we are seeking:

                <ul>
                    <li><strong>Leading sponsors</strong> to support the whole event</li>
                    <li><strong>Supporting sponsors</strong> to cover the many costs entailed</li>
                    <li><strong>Travel sponsors</strong> to make it diverse, global, and
                            accessible.</li>
                </ul>
                <p class="text">We are still finalising the details of sponsorship packages. Contact <a href="mailto:sheraaron@carpentries.org">SherAaron Hurt</a> to discuss your
                    options, or <a href="https://forms.gle/ToQiXu96k3d2Zg8s5">use this form to express interest</a>.

                    <!--

                                    <table cellpadding="5">

                                        <tr>

                                            <th valign="top">Tier</th>

                                            <th valign="top">Amount</th>


                                            <th valign="top">What's included</th>
                                        <tr>
                                            <td>&nbsp;
                                            </td>

                                            <td>&nbsp;
                                            </td>

                                            <td>&nbsp;
                                            </td>

                                        </tr>

                                        <tr>

                                            <td valign="top">Leading sponsor</td>

                                            <td valign="top">$25,000</td>


                                            <td valign="top">
                                                <ul>
                                                    <li>Top-level placement of organisation's logo on conference website and title slides,
                                                        and on giveaways produced (e.g. t-shirt)
                                                    <li>Opportunity to address the full conference for up to 5 minutes
                                                    <li>Opportunity to have two communications of up to 150 words included in emails sent to
                                                        conference participants
                                                    <li>Statement of thanks at the opening of the conference (logos displayed)
                                                    <li>Table and space provided for organisation's marketing material throughout the
                                                        conference
                                                    <li>Free conference registrations for up to 3 people from sponsor's organisation
                                                </ul>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>&nbsp;
                                            </td>

                                            <td>&nbsp;
                                            </td>

                                            <td>&nbsp;
                                            </td>

                                        </tr>
                                        <tr>

                                            <td valign="top">Supporting sponsors</td>

                                            <td valign="top">$12,500</td>


                                            <td valign="top">
                                                <ul>
                                                    <li>Prominent placement of organisation's logo on conference homepage and on giveaways
                                                        produced (e.g. t-shirt)<br \>
                                                    <li>Opportunity to address the assembled participants for up to 5 minutes during the
                                                        conference<br \>
                                                    <li>Opportunity to have one communication of up to 150 words included in an email sent
                                                        to all conference participants<br \>
                                                    <li>Statement of thanks at the opening of the conference (logos displayed)<br \>
                                                    <li>Table and space provided for organisation's marketing material throughout the
                                                        conference<br \>
                                                    <li>Free conference registrations for up to 2 people from sponsor's organisation
                                                </ul>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>&nbsp;
                                            </td>

                                            <td>&nbsp;
                                            </td>

                                            <td>&nbsp;
                                            </td>

                                        </tr>
                                        <tr>

                                            <td valign="top">Donors - organisations or individuals</td>

                                            <td valign="top">$5,000 / negotiable</td>


                                            <td valign="top">
                                                <ul>
                                                    <li> Placement of organisation's logo/individual name on conference homepage as donor<br
                                                            \>
                                                    <li>Statement of thanks to donors at the closing of the conference (logos/names
                                                        displayed)
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;
                                            </td>

                                            <td>&nbsp;
                                            </td>

                                            <td>&nbsp;
                                            </td>

                                        </tr>
                                        <tr>

                                            <td valign="top">Travel sponsors</td>

                                            <td valign="top">From $2,500</td>


                                            <td valign="top">
                                                <ul>
                                                    <li> Sponsor one (or more) attendees to attend the conference with a full scholarship
                                                        that covers travel, accommodation, conference registration, and visa processing
                                                        fees.<br \>
                                                    <li> Placement of organisation's logo on a dedicated portion of the conference
                                                        website<br \>
                                                    <li> Statement of thanks to sponsoring organisations at the opening of the conference
                                                        (logos displayed)
                                                </ul>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>&nbsp;
                                            </td>

                                            <td>&nbsp;
                                            </td>

                                            <td>&nbsp;
                                            </td>

                                        </tr>
                                        <tr>

                                            <td valign="top">Prize sponsors</td>

                                            <td valign="top">From $1,000</td>

                                            <td valign="top">
                                                <ul>
                                                    <li>Placement of organisation's logo on conference homepage as prize sponsor<br \>
                                                    <li>Statement of thanks at the closing of the conference (logos displayed)</li>
                                                </ul>
                                            </td>

                                        </tr>

                                    </table>
                                    -->
            </div>
        </div>
    </div>
</section>
