<!-- Begin Task Force List-->
<section id="team" class="team">
    <div class="content-wrapper">

        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.taskForceBlockTitle }}</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>
        </div>

        <!-- CarpentryCon2020 Task Force Co-chairs -->
        {% assign verbose_name = "The CarpentryCon2022 Task Force Co-chairs" %}
        {% assign task_force_var = chairs %}
        {% assign task_force_string = "chairs" %}
        {% include task_force_block.html %}

        <!-- CarpentryCon@Home committee -->
        {% assign verbose_name = "CarpentryCon @ Home Planning Committee" %}
        {% assign task_force_var = cchomeorganiser %}
        {% assign task_force_string = "cchomeorganiser" %}
        {% include task_force_block.html %}

        <!--staff liaisons-->
        {% assign verbose_name = "Staff Liaisons" %}
        {% assign task_force_var = staff %}
        {% assign task_force_string = "staff" %}
        {% include task_force_block.html %}

        <!-- accessibility subcommittee -->
        {% assign verbose_name = "Accessibility Subcommittee" %}
        {% assign task_force_var = accessibility %}
        {% assign task_force_string = "accessibility" %}
        {% include task_force_block.html %}

        <!-- budget subcommittee -->
        {% assign verbose_name = "Budget Subcommittee" %}
        {% assign task_force_var = budget %}
        {% assign task_force_string = "budget" %}
        {% include task_force_block.html %}

        <!-- communications/content subcommittee -->
        
        {% assign verbose_name = "Content/Communications Subcommittee" %}
        {% assign task_force_var = comms %}
        {% assign task_force_string = "comms" %}
        {% include task_force_block.html %}

        <!-- program subcommittee -->
        {% assign verbose_name = "Program Subcommittee" %}
        {% assign task_force_var = program %}
        {% assign task_force_string = "program" %}
        {% include task_force_block.html %}

        <!-- website and outreach subcommittee -->
        {% assign verbose_name = "Website and Outreach Subcommittee" %}
        {% assign task_force_var = website %}
        {% assign task_force_string = "website" %}
        {% include task_force_block.html %}

        <!-- Carpentries Code of Conduct Committee Representative -->
        {% assign verbose_name = "Code of Conduct Committee Representative" %}
        {% assign task_force_var = coc %}
        {% assign task_force_string = "coc" %}
        {% include task_force_block.html %}

        <!-- advisors -->
        {% assign verbose_name = "Advisors from CarpentryCon 2018 Task Force" %}
        {% assign task_force_var = advisor %}
        {% assign task_force_string = "advisor" %}
        {% include task_force_block.html %}

        <!-- volunteers -->
        {% assign verbose_name = "Volunteer with us!" %}
        {% assign task_force_var = volunteer %}
        {% assign task_force_string = "volunteer" %}
        {% include task_force_block.html %}
    </div>
    
</section>
<!-- End Task Force List -->
