<!-- Begin Task Force List-->
<section id="team" class="team">
    <div class="content-wrapper">

        <div class="col-lg-10 col-lg-offset-1">
            <h3>{{ site.taskForceBlockTitle }}</h3>
            <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutUs }}</p>
        </div>

        <!-- CarpentryCon2020 Task Force Co-chairs -->
        {% assign verbose_name = "The CarpentryCon2022 Task Force Co-chairs" %}
        {% assign task_force_var = chairs %}
        {% assign task_force_string = "chairs" %}
        {% include task_force_block.html %}


        <!-- accessibility subcommittee -->
        {% assign verbose_name = "Accessibility Subcommittee" %}
        {% assign task_force_var = accessibility %}
        {% assign task_force_string = "accessibility" %}
        {% include task_force_block.html %}


        <!-- communications/content subcommittee -->
        
        {% assign verbose_name = "Communications Subcommittee" %}
        {% assign task_force_var = comms %}
        {% assign task_force_string = "comms" %}
        {% include task_force_block.html %}

        <!-- program subcommittee -->
        {% assign verbose_name = "Program Subcommittee" %}
        {% assign task_force_var = program %}
        {% assign task_force_string = "program" %}
        {% include task_force_block.html %}

        <!-- website and outreach subcommittee -->
        {% assign verbose_name = "Website and Outreach Subcommittee" %}
        {% assign task_force_var = website %}
        {% assign task_force_string = "website" %}
        {% include task_force_block.html %}

        <!-- volunteers -->
        {% assign verbose_name = "Volunteer with us!" %}
        {% assign task_force_var = volunteer %}
        {% assign task_force_string = "volunteer" %}
        {% include task_force_block.html %}
    </div>
    
</section>
<!-- End Task Force List -->
