<!-- Venue Section -->
{% if page.title != site.venueBlockTitle %}
{% assign background_style = "background-image: url('" | append: site.baseurl | append: site.venueBackgroundImage | append:"'); background-size: 100%; background-position: center center;" %}
{% assign font_colour = "#FFFFFF" %}
{% else %}
{% assign background_style = "" %}
{% assign font_colour = "#000000" %}
{% endif %}
<section id="venue" style="{{ background_style }}">
    {% if page.title != site.venueBlockTitle %}
    <div class="overlay solid-overlay"></div>
    {% endif %}
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            {% if page.title != site.venueBlockTitle %}
            <h3 style="color: {{ font_colour }}"><a href="{{ site.baseurl }}/venue/">{{ site.venueBlockTitle }}</a></h3>
            {% else %}
            <h4 class="text-left" style="color: {{ font_colour }}">University of Wisconsin - Madison</h4>
            {% endif %}
            <p class="post-body text-left" style="color: {{ font_colour }}">
                CarpentryCon 2020 will be held at <a href="https://wisc.edu/">the University of Wisconsin -
                Madison</a>, United States, sitting along the
                shores of Lake Mendota.

                CarpentryCon2020 is supported by a growing local community of Carpentry instructors and trainers, coordinated through
                the <a href="https://datascience.wisc.edu/">UW-Madison’s Data Science Hub</a>.

                The Carpentries and the wider community are very grateful for the generous support of the Data Science Hub and the University of Wisconsin - Madison in hosting
                this event. To help make this a truly international event, we will be offering travel support to
                facilitate attendance from as wide a group of participants as possible.
            </p>
            {% if page.title != site.venueBlockTitle %}
            <p class="post-body text-left" style="color: {{ font_colour }}">
                Read more information about the <a href="{{ site.baseurl }}/venue">venue</a>, <a href="{{ site.baseurl }}/venue#travel">travel</a> and <a href="{{ site.baseurl }}/accommodation">accommodation</a>.
            </p>
            <p class="post-body text-left" style="color: {{ font_colour }}; font-weight: bold;">If you are traveling from outside of the United States, please confirm that you have the <a href="https://travel.state.gov/content/travel/en/us-visas.html" target="_blank">necessary visa needed to enter the United States</a>. You can check if and what type of visa you require by using the US Government's <a href="https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/wizard.html">Visa Wizard</a>.</p>
            </p>
            {% endif %}

            {% if page.title == site.venueBlockTitle %}
            <div class="row">
                <div class="col-md-8 col-sm-8 venue-col">
                    <div class="venue-elem-wrapper">
                        <div class="venue-elem image-section venue-big-elem venue-img animated hiding"
                             data-animation="fadeIn" data-delay="0"
                             style="background-image: url({{ site.baseurl }}/img/venue/{{ site.venueBigImage }})"></div>
                        <div class="text-right"><a href="{{ site.venueBigImageLink }}" target="_blank">{{ site.venueBigImageCreditText }}</a></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 venue-col venue-small-col">
                    <!--<div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">-->
                    <!--<div class="venue-elem image-section venue-small-elem venue-img animated hiding"-->
                    <!--data-animation="fadeIn" data-delay="150"-->
                    <!--style="background-image: url({{ site.baseurl }}/img/venue/{{ site.venueSmallImage1 }})"></div>-->
                    <!--</div>-->
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem venue-small-elem venue-text animated hiding dark-grey" data-animation="fadeIn"
                             data-delay="0">
                            <h5>{{ site.venueTitle }}</h5>
                            {% for feature in site.venueFeatures %}
                            <p>{{ feature }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem venue-small-elem venue-text animated hiding"
                             data-animation="fadeIn"
                             data-delay="0">
                            <p>
                            <h5>Main Venue</h5>
                            <p>
                                Discovery Building
                            </p>
                            <p>
                                University of Wisconsin - Madison
                            </p>
                            <p>
                                <a href="https://www.google.com/maps/place/Discovery+Building/@43.072896,-89.4097526,17z/data=!3m1!4b1!4m5!3m4!1s0x8807acc6278e5ee3:0x8f3e69223485f625!8m2!3d43.072896!4d-89.4075586" target="_blank">WI 53706, Madison, USA</a>
                            </p>
                        </div>
                    </div>
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem image-section venue-small-elem venue-img"
                             data-animation="fadeIn" data-delay="0"
                             style="background-image: url({{ site.baseurl }}/img/venue/{{ site.venueSmallImage }})">
                        </div>
                        <div class="text-right"><a href="{{ site.venueSmallImageLink }}" target="_blank">{{ site.venueSmallImageCreditText }}</a></div>
                    </div>
                    <!--<div class="venue-elem-wrapper col-xs-6 visible-xs">-->
                    <!--<div class="venue-elem image-section venue-small-elem venue-img animated hiding"-->
                    <!--data-animation="fadeIn" data-delay="0"-->
                    <!--style="background-image: url({{ site.baseurl }}/img/venue/{{ site.venueSmallImage3 }})">-->
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <h5 class="text-left">Venues</h5>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h6 class="text-left">Discovery Building</h6>
                    <p class="post-body text-justify">
                        <a href="https://discovery.wisc.edu/" target="_blank">Discovery Building</a> provides public space and two research institutes where campus and community members can immerse themselves in science and creativity, and is designed for optimum collaboration.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h6 class="text-left">Memorial Union</h6>
                    <p class="post-body text-justify">
                        <a href="https://union.wisc.edu/visit/memorial-union/" target="_blank">Memorial Union Building</a> sits on the shore of Lake Mendota. Memorial Union is a place to come to socialize, relax, and dine.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem image-section venue-small-elem venue-img" style="background-image: url(https://discovery.wisc.edu/sites/default/files/block-images/Awards.jpg)">
                        </div>
                        <div class="text-right"><a href="https://discovery.wisc.edu/sites/default/files/block-images/Awards.jpg" target="_blank">Discovery Building</a></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem image-section venue-small-elem venue-img" style="background-image: url(https://union.wisc.edu/assets/Uploads/ImageSlides/Visit-MU-Exterior1-780x460.jpg)">
                        </div>
                        <div class="text-right"><a href="https://union.wisc.edu/assets/Uploads/ImageSlides/Visit-MU-Exterior1-780x460.jpg" target="_blank">Memorial Union</a></div>
                    </div>
                </div>
            </div>

            <div class="text-left">
                <h4>About Madison</h4>
                <h5>Weather</h5>
                <p class="post-body text-justify">Daily high temperatures in Madison in late June tend to be around 80 degree Fahreheit (26 degrees Celsius) with high humidity, so warm weather clothing is recommended. However, some of our meeting spaces can get chilly, so bring a sweater to wear in the air conditioning.</p>
                <h5>Getting Around Town</h5>
                <p class="post-body text-justify">The conference venues are accessible by car. For parking rates and locations, please see the <a href="https://transportation.wisc.edu/parking-lots/" target="_blank">UW-Madison Transportation Office page</a>. <a href="https://transportation.wisc.edu/accessible-transportation-options/#parking" target="_blank">Accessible parking</a> is also available. Note, however, that parking on campus is limited and we cannot guarantee that parking will be available in your chosen location.</p>
                <p class="post-body text-justify">
                    If possible, we recommend going to and from campus by alternative means:</p>
                <ul class="travel">
                    <li><a href="https://www.cityofmadison.com/metro" target="_blank">Madison Metro Transit</a> offers many bus routes near the UW-Madison Campus and downtown. Check their website for routes, schedules and rates. </li>
                    <li>
                        <a href="https://madison.bcycle.com/what-is" target="_blank">Bcycle</a> offer bike share service in Madison. Check their website for pickup and dropoff locations.
                    </li>
                    <li><a href="https://www.unioncab.com/" target="_blank">Union Cab</a> and <a href="https://greencabmadison.com/" target="_blank">Green Cab </a> are local taxi services. Ride share services like Uber and Lyft also operate in Madison.
                    </li>
                </ul>
            </div>
            <div class="text-left">
                <h4>Travel information</h4>
                <h5>Visas</h5>
                <p class="post-body text-justify">If you are traveling from outside of the United States, please confirm that you have the <a href="https://travel.state.gov/content/travel/en/us-visas.html" target="_blank">necessary visa needed to enter the United States</a>. You can check if and what type of visa you require by using the US Government's <a href="https://travel.state.gov/content/travel/en/us-visas/visa-information-resources/wizard.html">Visa Wizard</a>.</p>
                <h5>Getting Here By Air</h5>
                <p class="post-body text-justify">
                    The closest airport to UW-Madison is Dane County Regional Airport (MSN). Flights to here can be more expensive, as it is a small airport, but getting to campus from MSN is easy on a Metro Bus, by taxi or by rideshare services. Alternative airports include Mitchell International Airport (MKE) in Milwaukee, WI, O’Hare International Airport (ORD) and Chicago Midway International Airport in Chicago, IL. There is a regular, reliable regional bus service from the Chicago airports to Madison (see below).
                </p>
                <h5>Getting Here By Bus</h5>
                <p class="post-body text-justify">Regional buses run from Chicago Midway Airport, Chicago O’Hare Airport and Downtown Chicago (see <a href="https://web.coachusa.com/vangalder/" target="_blank">Van Galder Bus</a> or <a href="https://us.megabus.com/journey-planner/" target="_blank">Megabus</a> for more details). Regional buses run from Milwaukee to Madison (see <a href="https://badgerbus.com/tickets/">Badger Bus</a> or <a href="https://us.megabus.com/journey-planner/" target="_blank">Megabus</a> for more details).</p>
            </div>
            {% endif %}
        </div>
    </div>
    {% if page.title != site.venueBlockTitle %}
    <div class="col-md-4 col-md-offset-8 text-right" style="padding-top: 75px; color: {{ font_colour }}"><a href="{{ site.venueBackgroundImageLink }}" target="_blank">{{ site.venueBackgroundImageCreditText }}</a></div>
    {% endif %}
</section>
<!-- End Venue Section -->
