---
layout: default
title: Career Fair Employer Pod Sponsor
permalink: /sponsor/career-sponsor
color: "#689689"
---

 {% include top-section.html %}

<section id="career-sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
	      <h5>Wall where anyone can advert a job offer</h5>
              <h5>Level of support: $600/ea</h5>
              <h5>Number of possible sponsors: TBD </h5>
              <h5>Benefits</h5>
              <ul>
              <li>Name and logo on wall</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
       </div>
    </div>
</section>

 {% include sponsor-form.html %}
