---
layout: default
title: Financial Aid Contribution
permalink: /sponsor/financial-sponsor
color: "#689689"
---

 {% include top-section.html %}

<section id="financial-sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
              <h5>It can be used for any portion of the conference.</h5>
              <h5>Benefits</h5>
              <ul>
              <li>Name listed on the CarpentryCon sponsorship page (no matter the amount donated)</li>
              </ul>
	      <strong>Benefits List:</strong>
 
              <strong>Note:</strong> We will decide what benefits or group of benefits comes with each level/contribution after we get approval to offer the benefits from the program, content, and communications teams. 
              <ul>
              <li>X number of conference passes/free registration (amount will vary by level)</li>
              <li>Additional conference passes at a 20% discount</li>
              <li>Ad to be visible in general session and breakout rooms</li>
              <li>Onsite Mention: verbal thank-you from the main stage</li>
              <li>Swag bag insert (to be provided by sponsor)</li>
              <li>Logo placement alongside Carpentries logo on swag bag</li>
              <li>X sponsorship level designated and listing on CarpentryCon website</li>
              <li>Sponsorship levels of x (maybe 1 and 2 level and a few of the larger event sponsors?) listed on main Carpentries website</li>
              <li>Room naming rights</li>
              <li>Booth space </li>
              <li>5 min chance to address the conference from the main stage</li>
              <li>X number of Social Media recognition (amount will vary by level)</li>
              <li>Vendor/Sponsor Table at no additional cost</li>
              <li>Statement of thanks at the beginning of the conference</li>
              <li>Acknowledgement in blogpost/newsletter</li>
              </ul>
       </div>
    </div>
</section>

 {% include sponsor-form.html %}
