---
layout: default
title: Ice Breaker Sponsor
permalink: /sponsor/ice-sponsor
color: "#689689"
---

 {% include top-section.html %}

<section id="ice-sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
              <p>Level of support: $2,000 or more in materials or services</p>
              <p>Number of possible sponsors: 1 </p>
              <p>Benefits</p>
              <ul>
              <li>Ice Breaker named after them in the program</li>
              <li>Sponsorship announced along with event</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
       </div>
    </div>
</section>

 {% include sponsor-form.html %}
