---
layout: default
title: Lunch Sponsor
permalink: /sponsor/lunch-sponsor.html
color: "#689689"
---

 {% include top-section.html %}

<section id="lunch-sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
              <h5>Level of support: $5,000/ea</h5>
              <h5>Number of possible sponsors: 3 </h5>
              <h5>Benefits</h5>
              <ul>
              <li>Named after sponsor in the program</li>
              <li>Logo displayed at the lunch</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
       </div>
    </div>
</section>

 {% include sponsor-form.html %}
