---
layout: default
title: Media Partnership Sponsor
permalink: /sponsor/media-sponsor.html
color: "#689689"
---

 {% include top-section.html %}

<section id="media-sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
	      <h5>Help publicize CarpentryCon before, during and after the event</h5>
              <h5>Level of support: $4,000</h5>
              <h5>Number of possible sponsors: 1 </h5>
              <h5>Benefits</h5>
              <ul>
              <li>One free conference pass</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
       </div>
    </div>
</section>

 {% include sponsor-form.html %}
