---
layout: default
title: Mega Sponsor
permalink: /sponsor/mega-sponsor
color: "#689689"
---

 {% include top-section.html %}

<section id="mega-sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
              <h5>Level of support: $5,000</h5>
              <h5>Benefits</h5>
              <ul>
              <li>Name prominently displayed on the Sponsorship page of the CarpentryCon Website as a Mega-Sponsor</li>
              <li>50% off for 1 staff/affiliate registration to attend CarpentryCon 2020</li>
              <li>Statement of thanks at beginning of conference</li>
              </ul>
       </div>
    </div>
</section>

 {% include sponsor-form.html %}
