---
layout: default
title: Peta Sponsor
permalink: /sponsor/peta-sponsor
color: "#689689"
---

 {% include top-section.html %}

<section id="peta-sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
          <h5>Level of support: $50,000 and up</h5>
          <h5>Benefits</h5>
          <ul>
          <li>Name and logo on The Carpentries Website</li>
          <li>Name and logo on Main CarpentryCon Webpage</li>
          <li>Name and logo prominently displayed on the Sponsorship page of the CarpentryCon Website as a Peta-Sponsor</li>
          <li>Registration for 3 staff/affiliates to attend CarpentryCon 2020</li>
          <li>5-minute address to the conference from the main stage</li>
          <li>Statement of thanks at beginning of conference</li>
          <li>Acknowledgement in The Carpentries blog/newsletter</li>
          <li>Logo placement alongside Carpentries logo on swag bag</li>
          <li>Get their unique #hashtag to accompany every count-down tweet from the 50th (nth) count-down</li> 
          <li>Name and logo displayed during Welcome</li>
          <li>Vendor booth</li>
          </ul>

       </div>
    </div>
</section>

 {% include sponsor-form.html %}
