---
layout: default
title: Poster Reception Sponsor
permalink: /sponsor/poster-sponsor
color: "#689689"
---

 {% include top-section.html %}

<section id="poster-sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
              <h5>Level of support: $1,500</h5>
              <h5>Number of possible sponsors: 1 </h5>
              <h5>Benefits</h5>
              <ul>
              <li>Named after sponsor in the program</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
	      </ul>
       </div>
    </div>
</section>

 {% include sponsor-form.html %}
