---
layout: default
title: Welcome Reception Sponsor
permalink: /sponsor/reception-sponsor.html
color: "#689689"
---

 {% include top-section.html %}

<section id="welcome-sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
              <h5>Level of support: $5,000</h5>
              <h5>Number of possible sponsors: 1 </h5>
              <h5>Benefits</h5>
              <ul>
              <li>Event named after them in the program</li>
              <li>Signs with their name and logo at the event</li>
              <li>Name listed on the CarpentryCon sponsorship page</li>
              </ul>
       </div>
    </div>
</section>

 {% include sponsor-form.html %}
