---
layout: default
title: Tera Sponsor
permalink: /sponsor/tera-sponsor.html
color: "#689689"
---

 {% include top-section.html %}

<section id="tera-sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
          <h5>Level of support: $25,000</h5>
          <h5>Benefits</h5>
              <ul>
              <li>Name and logo on Main CarpentryCon Webpage</li>
              <li>Name prominently displayed on the Sponsorship page of the CarpentryCon Website as a Tera-Sponsor</li>
              <li>Registration for 2 staff/affiliates to attend CarpentryCon 2020</li>
              <li>Statement of thanks at beginning of conference</li>
              <li>Logo placement alongside Carpentries logo on swag bag</li>
	      </ul>

       </div>
    </div>
</section>

 {% include sponsor-form.html %}
