---
layout: default
title: WebsCast Sponsor (tie to diversity and inclusion)
permalink: /sponsor/webcast-sponsor.html
color: "#689689"
---

 {% include top-section.html %}

<section id="webcast-sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-left">
              <h5>Level of support: $8,000</h5>
              <h5>Number of possible sponsors: 1 </h5>
              <h5>Benefits</h5>
              <ul>
              <li>Verbal thank-you at the beginning of the conference</li>
              <li>Name on the CarpentryCon sponsorship page</li>
              <li>Thank you to sponsor on live streaming page</li>
              </ul>
       </div>
    </div>
</section>

 {% include sponsor-form.html %}
